[2017-11-28 14:00] mkudrnac opened #3 "Implement optional characteristics"
Hello Ivan,

I did try to use optional characteristics for example "RotationSpeed" for "Fan" but this thing is not implemented, so I had to use https://github.com/KhaosT/HAP-NodeJS
But I prefer using Python instead of JS, would be nice to implement it and I can test it for you with my home-made Fan :-)

You can ask me for help :-)

Thanks,
Miroslav

[2017-11-28 15:43] ikalchev commented on #3
Totally agree :) Let me have a look at what's missing and I will try to implement it in the following days. I will test with an imaginary fan first, but an actual test from your side after that will be much appreciated.

Thanks for raising this issue, I will keep you posted :)

[2017-11-28 15:50] mkudrnac commented on #3
Thanks for response I can give you some hints what I tried.

1) I moved RotationSpeed from optional to characteristics so I could use it
2) my iPhone did see everything ok like on/off and speed slider - event setter_callback on RotationSpeed called in python code with right value
3) but iPhone did not get any feedback response so It said no response but setter_callback was triggered with correct v

[2017-11-29 09:28] ikalchev commented on #3
It did help actually, thanks. I think I implemented optional characteristics. Could you please get latest and try to integrate your fan again? Take a look at the fake fan accessory, which should demonstrate how to add optional characteristics. I also documented the reason for adding optional characteristics
manually (i.e. by the user) instead of adding all of them through the loader in the docs of

[2017-11-29 10:00] mkudrnac commented on #3
Thanks very much when I get home from work I will try it and let you know :)

[2017-11-29 10:18] mkudrnac commented on #3
Btw there is my Fan accessory in HAP-HodeJS
https://github.com/mkudrnac/HAP-NodeJS/blob/master/accessories/Fan_accessory.js

[2017-11-29 10:26] ikalchev commented on #3
On theory it should work then :). I added the FakeFan to my Home app and all the controls (Rotation speed and direction, on/off) seemed to work fine. I will keep this issue open until you confirm that it works, but I think there will be no issues.

[2017-11-29 18:34] mkudrnac commented on #3
You can close this issue now it is working properly.
Thank you very much 👍

[2017-11-29 18:40] ikalchev commented on #3
Glad to hear, Miroslav. For nothing, report anything you don't like.

[2017-11-29 18:40] #3 closed

[2017-11-29 18:44] mkudrnac opened #4 "Remove accessory is not working properly"
I found a small issue with removing accessory.
When I try to remove it  I takes very long time sometimes iPhone get stuck and in console there is this error and accessory.pickle is not removed

screenshots:
![screen shot 2017-11-29 at 19 39 16](https://user-images.githubusercontent.com/12230741/33392794-5f58e28c-d53d-11e7-8d6f-5ca5cd230249.png)

before remove:
![img_0937](https://user-images.githu

[2017-11-29 18:59] ikalchev commented on #4
Yes, I am aware of this, although I don't get a KeyError on unpair (just a very long waiting time, as in your case). I just figured that this same issue leads to lost updates/replies - they get delivered to the last client that has connected. This in turn makes the iOS with the lost update unhappy and marks the accessory as "not responding".

I'm quite confident that you are right - this TODO shou

[2017-11-29 19:22] mkudrnac commented on #4
Yes you are right, this is not so critical bug, only just not user friendly and for my testing I have to shutdown server and then remove accessory and delete pickle, takes a lot of time :-)

In KhaosT/HAP-NodeJS unpair is working even with more connected devices maybe you can look for some inspiration :-)

[2017-11-29 19:27] ikalchev commented on #4
You mean that it unpairs a single device, right?

It's quite the bug - lost updates are not nice. The unpairing thing is not that bad, I agree.

Yeah, it was the source of inspiration many times. Thanks :) I still think it should be fairly easy to fix this.

[2017-11-29 19:30] mkudrnac commented on #4
When you remove accessory It should unpair it from all devices, I don't think that there is option to unpair only one device.

[2017-11-29 21:57] ikalchev commented on #4
Could you please get latest and see if the bug appears again? I tested with two clients, both of which received updates simultaneously. Also, unpairing does not hang the app and you can then pair again.

Note that when you remove an accessory from one device, other devices will get unpaired, but will still receive updates from the accessory until the removal of the accessory gets synched among the

[2017-11-29 22:24] mkudrnac commented on #4
Well I must thank you again now it is working properly and iPhone do not get stuck

According to IP 192.168.1.10 that device is AppleTV which is a HUB and provides remote access and automations. (Synced through iCloud I guess)

Here is console screenshot and everything is woking ok
![screen shot 2017-11-29 at 23 18 37](https://user-images.githubusercontent.com/12230741/33402066-b32ffa9e-d55b-11e7-

[2017-11-29 22:32] ikalchev commented on #4
Awesome, Miroslav, nothing to thank for. Keep raising whatever issues you find and any suggestions you may have :)

PS I will get back to you for the sensor repos soon.

[2017-11-29 22:32] #4 closed

[2017-12-27 01:00] fubano opened #5 "Garage Door Opener"
Thanks for sharing this project, I find python a little easier to using NodeJS. I can get the TempSensor, LightBulb to work on my Pi Zero W, but my attempt to mash code from multiple existing accessories to create a Garage Door Opener fails (it pairs and then unpairs right away). Can someone can point to the issues with this code? Not sure __getstate__ is needed at all, my suspicion was that the r

[2017-12-27 04:37] rodriguez-lucas commented on #5
I didn't read the code you wrote, but I had the same problem with the door service: the device pairs and then it unpairs.
As you suspected there is a problem with `setstate`/`getstate` (I don't remember which one was in my case). If you look at `CurrentDoorState` characteristic ([characteristics.json](../blob/master/pyhap/resources/characteristics.json) line 238), the permissions are `pr`, `ev` an

[2017-12-27 08:10] ikalchev commented on #5
Hi,

Thanks for reporting and investigating this! I will have a look and try to understand and fix the problem with uncnotify in the following days. To be honest, I haven’t read Apples specs, so chances are I messed up this bit (specs weren’t available for non-MFI members when I implemented this).

Will keep you posted :)

[2017-12-27 10:37] ikalchev commented on #5
Okay, pushed a quick fix - I removed the null permission until I find the correct representation of it. I tested with a fake garage door opener and it seems to work. Please let me know if the problem continues :)

@rodriguez-lucas, @fubano  What is the problem with set/get state, I couldn't reproduce any problem involving this? A little clarification into what may be going on:

When the accessory

[2017-12-27 10:37] #5 closed

[2017-12-27 17:03] rodriguez-lucas commented on #5
Hi @ikalchev,

Sorry, I totally messed up with the names, the problem wasn't with `setstate`/`getstate`, instead was with characteristics methods: `set_value`/`get_value`. My hypotesis is that after pairing successfully, the phone app (e.g. Home) is requiring the state of the device, so `get_value` is called and there is some conflict with the `null` permission.

Again sorry for my mistake. I read

[2017-12-27 17:12] ikalchev commented on #5
Hey, no worries. You are right though, the null was indeed the problem. The change from today should fix this, could you please try and confirm? :)

[2017-12-27 19:25] fubano commented on #5
Thanks to both @rodriguez-lucas and @ikalchev  for your input! I can now pair the accessory and get it to work (mostly). There is now an issue with the CurrentState reporting it gets stuck at "opening.." or "closing.." on the phone, though it executes the command to open/close correctly even with the status stuck. Looking into it.

Also, thanks to @ikalchev for the details about the pickle functio

[2017-12-27 20:23] ikalchev commented on #5
@fubano interesting, I haven't thought about read-only use cases. The file is created in [AccessoryDriver](pyhap/accessory_driver.py), if that helps. To clarify the use of the pickle, the main point is to preserve the public key of the paired client, which is received during the pairing, so I don't see how this can be removed.

You can try to overwrite the `persist` method of the driver (which is

[2017-12-29 00:47] fubano commented on #5
Can you post your fake GarageDoorOpener to accessories if the value posting works fine for you? I am unable to get it to work, sometimes it gets stuck at Opening but Close works fine, or vice-versa, each time I pair. I disabled the sensor callback (though it is working fine hardware-wise) and just post back in the _pulse_door function. Just writing CurrentDoorState does not seem to update the ios

[2017-12-29 17:24] ikalchev commented on #5
Here's the whole thing. I tapped at least 20 times and it didn't stuck once.

[code]

Logs:
[code]

You can try adding the following code to accessory_driver.py#AccessoryDriver line 203 (I will add this as a debug log message soon):
[code]
`bytedata` should be the update of the current door state that is being sent to the iOS client. Is this showing up?

[2017-12-31 17:25] fubano commented on #5
I do get this exception and it seems the 'bytedata' updates do not occur subsequently.  This is using your code above in a fresh clone, with 'main.py' written by me. Perhaps it has something to do with my python or related package versions?

[code]

If I may make a suggestion, the initial install for me required digging for the right packages to make it work, and the crypto packages were a little

[2017-12-31 18:10] ikalchev commented on #5
If you do python3 setup.py install everything is installed for you (dependencies included). If you want to know the actual dependencies, have a look at setup.py (it’s short).

This is python 3.4 on pi zero w right? I didn’t get this exception, so my money on platform/version stuff. Let me welcome new year and I will have a deeper look tomorrow. Thanks for exploring this :)

Best,
Ivan

[2017-12-31 18:10] fubano commented on #5
I will redo my PI setup from scratch including OS install and report back if it works fine in some hours.

[2017-12-31 18:18] ikalchev commented on #5
Don’t bother if it’s too much effort. Let me have a look before that, because I think it’s version to version issue.

[2018-01-01 12:05] ikalchev commented on #5
@fubano, issue was in me. task_done was called for each client, while it should have been called once per event - this caused the thread sending the updates to crash (this is also seen from your logs).

The issue should be resolved with the latest change. Could you please confirm?

Thanks for the effort!

[2018-01-01 22:05] fubano commented on #5
Confirmed that it works fine for me now!

I am pretty sure that I used the setup.py when I first installed, perhaps it failed and I did not notice causing me to manually install packages. I use the 'lite' version of raspbian, so this may be the reason. Anyway, I tried re-installing the OS with the newest raspbian 'lite' and I needed a few packages for setup.py to install correctly (I think setupto

[2018-01-02 06:27] ikalchev commented on #5
I know that setuptools is a prerequisite and I recently updated the README to state that. However, I need to check out why the dev package is needed. Thanks for the info!

Happy new year to you too!

[2018-01-15 10:06] xtqxk opened #6 "add air pressure sensor support?"
bme280 support air pressure.

[2018-01-15 11:32] ikalchev commented on #6
Hi,

The Services and Characteristic in `pyhap/resources` are those who are officially supported by Apple, i.e. are shown in the iOS Home app and are integrated with Siri.

Air pressure is not officially supported, which means that even if you add it (following the same format for services and chars)., it won't show in the Home app (it used to be like that, I am unaware if this has changed).

Havi

[2018-01-15 11:32] #6 closed

[2018-01-20 02:31] gerswin opened #7 "use as Bridge"
do you have an example for use as bridge?

[2018-01-20 07:38] ikalchev commented on #7
Hi!

Try the below. There is another example in `main.py`. If you have any more questions, please ask :)

Best,
Ivan

[code]

[2018-01-20 17:05] gerswin commented on #7
I can not make it work, i can see accessory mode in homekit but not bridge mode

[2018-01-20 17:51] ikalchev commented on #7
This is odd. What's in your code that starts the Bridge? Is it like the one above? Or if you are using main.py from HAP-python, did you delete the file `accessory.pickle` before changing from accessory to bridge? (this file contains a cached accessory: after a restart of HAP-python, it reads from it and does not create a new accessory object, i.e. you may have changed the code, but the old state f

[2018-01-20 21:21] gerswin commented on #7
i test it with main.py and the one above, y delete accessory.pickle too

[2018-01-20 21:35] gerswin commented on #7
i just test it with  fresh install of respbian, still not working :(

[2018-01-20 21:40] ikalchev commented on #7
I just got a clean copy of the project and I can see both Bridge and Accessory (I am using main.py), both from a mac OS and a Raspberry Pi.

Are you using a different mac address for the bridge (`generate_mac()` provides a random one, so if you are using this - yes)? Have you tried starting it more than once?

Do you still see ONLY the Accessory and not the Bridge?

[2018-01-20 21:56] gerswin commented on #7
in fresh install of raspberry pi i need this sudo apt-get install libavahi-compat-libdnssd-dev, now is working.  i will keep testing and let you know

[2018-01-20 21:59] ikalchev commented on #7
Oh, avahi, for the mDNS, of course... I need to add this to the setup script. Thanks!

Yes, please let me know if you manage to run it properly :)

[2018-01-23 09:35] ikalchev opened #9 "Way to add optional chars. to services in Http Accessory"
Currently, you can use the Http accessory to expose non-hap-compatible devices by allowing them to submit characteristic updates in the form of http post requests.

However, you can only add services with their mandatory characteristics, whereas it should be possible to also add optional chars, such as Name.

This issue tracks the effort for the above.

[2018-01-23 15:08] xtqxk commented on #9
Great, i have three esp8266 to report there sensor data.  It will solve my problem。 Thx again.

[2018-01-23 15:11] ikalchev commented on #9
I too have a couple of esp8266 which is the exact reason I wrote the Http Accessory :)

No problem, I hope I finish it by end of the week.

[2018-01-24 04:17] #7 closed

[2018-01-24 05:00] gerswin opened #10 "i'm making LightBulb with mqtt and need to get state of device"
this is my code, can u explain me how to get the status of device.
[code]

[2018-01-24 06:03] ikalchev commented on #10
What do you mean by status? Do you mean the value of the characteristic “On”? If so:

[code]

[2018-01-24 14:21] gerswin commented on #10
i need to know if is on or off

[2018-01-24 14:39] ikalchev commented on #10
`get_value` gets you that - true for on and false for off. This same value is also passed to you in `set_bulb`.

Does that answer your question or did I misunderstood something?

[2018-01-24 16:30] gerswin commented on #10
I have my mqtt server that can control the devices outside the homekit, so if I turn off a light from another device in homekit it stays on. there is some way to update the status in homekit

[2018-01-24 16:41] ikalchev commented on #10
You need to set the value of the characteristic. This is done like:

[code]

Let me know if this is what you want :)

[2018-01-26 19:24] ikalchev commented on #9
@xtqxk Update is in, get it with pip3 or git clone it.

Try this:
[code]

Then POST to the address as below. Note the aid - Identifies the accessory for which this update is relevant - this is the aid assigned when creating acc.
[code]
I would like to make the `aid` more transparent to the user, but this will come in another update.

Let me know if you hit any problems or have suggestions :)

[2018-01-26 19:24] #9 closed

[2018-01-26 19:25] ikalchev commented on #10
@gerswin Any updates here? Did you manage to do what you wanted?

[2018-01-26 19:30] ikalchev opened #11 "Persist char. values on accessory driver stop"
Characteristic value updates are not persisted, thus, when HAP-python starts again, the last values are not seen in iOS. This should be done when the accessory driver stops (doing it on every update would be an overkill).

[2018-01-26 19:34] ikalchev opened #12 "Persist accessories in a different format than pickle"
The new format should allow new HAP-python versions to understand state from an older version, removing the need to `rm accessory.pickle` after updating HAP-python and potentially requiring less space.

[2018-01-26 19:38] #10 closed

[2018-01-26 19:55] gerswin commented on #10
i'm using with sentinel

    def run(self):
        while not self.run_sentinel.wait(10):
            print(1)
            #m = subscribe.simple(['/34:34:34/status'], hostname="localhost", retained=True, msg_count=1)
            #self.get_service("Lightbulb").get_characteristic("On").set_value(m.payload)

Exception happened during processing of request from ('192.168.0.11', 51619)
Traceback (most

[2018-01-26 19:59] gerswin commented on #10
it's working thanks!

[2018-01-26 20:01] ikalchev commented on #10
No worries, let me know if you need more help.

[2018-01-27 01:38] gerswin opened #13 "Bump accessory configuration version on char. changes."
it's me again, can u tell me how to use name characteristic??

self.get_service("Lightbulb").get_characteristic("Name").set_value("Bed")

it's not working

[2018-01-27 07:45] ikalchev commented on #13
I looked into that, here is what I found:

You can set the name characteristic, but this has to happen before you pair with iOS:
[code]

However, changing the name after that doesn't work and this is a bug in HAP-python. This is because iOS doesn't know it has new values to read. The way to notify about this, is to change the [config version](pyhap/accessory.py#L121) of the accessory - something I

[2018-01-27 09:18] ikalchev commented on #13
Okay update:

iOS is getting the updates every time you do
[code]
However, although the value is sent to iOS it does not bother to update the UI (I have checked this by updating the config version very 3 seconds and changing the name. Every time I print the update that is sent to iOS and it contains the new name.)

I have no idea why iOS does not refresh the UI. It should happen eventually though.

[2018-01-27 11:04] xtqxk commented on #9
Great!

[2018-01-27 15:14] sergiookey opened #14 "Possible problem in iOS 11"
Congratulations for your great work.

I add all accessory to homekit and I work perfectly but when I restart process, my iPhone with iOS 11.2.1 not reconnect accesories. The accessories have simbol (!). What can I do?

Thank you very much

[2018-01-27 17:07] gerswin commented on #14
do you delete accessory.pickle and try again?

[2018-01-27 21:58] sergiookey commented on #14
I delete file and try again, but not works.

[2018-01-27 23:50] sergiookey commented on #14
My mistake was to create the bridge at each process start instead of loading the file configuration. This file has the status of the accessories and the necessary data for reconnection. Thank you very much for the help. Great job.

[2018-01-27 23:50] #14 closed

[2018-01-28 06:34] ikalchev commented on #14
@sergiookey I’m glad you find the project useful and that you solved your issue :)

[2018-01-28 09:24] ikalchev commented on #13
Change is in. When you make a configuration change, such as adding a Service or changing a characteristic such as Name, you can call:
[code]
This notifies iOS clients they need to refetch the whole accessory again and persists the new state of the accessory. Note that although iOS immediately fetches the new config, it does not update the UI immediately. However, the updates are eventually shown.

[2018-01-28 09:24] #13 closed

[2018-01-28 09:24] #11 closed

[2018-01-29 02:48] gerswin opened #15 "ValueError("Duplicate AID found when attempting to add accessory") ValueError: Duplicate AID found when attempting to add accessory"
in last update bridge mode is not working.
tested with main.py

[2018-01-29 02:56] gerswin commented on #15
def __init__(self, display_name, mac=None, pincode=None, iid_manager=None):
        #aid = STANDALONE_AID

i just comment the first line and is working again

[2018-01-29 05:42] ikalchev commented on #15
Very very sorry about that.

The problem was that AID in Accessory init is now STANDALONE AID and not None. Just added aid=2 for the contained accessory in main.py. (pypi package also fixed)

Thanks!

[2018-01-29 05:42] #15 closed

[2018-01-29 11:08] ikalchev opened #16 "Enforce value constraints in Characteristic. Distinguish raw and HAP value."
Currently, Characteristic only respects min/max value constraints when sending its state through the `to_HAP` method. However, when a value change is published to iOS clients (`notify`), the sent value could be outside of min/max range. There should be a distinction between actual char value and it's "hap" representation, .e.g:
[code]

[2018-01-29 18:37] ikalchev opened #17 "Amended commits"
Hi @gerswin,

I needed to amend the author info about all my past commits to HAP-python (no code changes). This may have affected your fork. If so, please accept my apologies and if you need any help in removing issues, please let me know.

Best,
Ivan

[2018-01-29 19:08] gerswin commented on #17
thanks! I will be in touch

[2018-01-29 20:18] #17 closed

[2018-02-01 12:20] ikalchev commented on #16
`get_value` now deprecated.
Use `get_hap_value` to get the HAP-ified values.
Use `set_value` to set a raw_value which is in the valid values (if any)
Use `.value` to get the raw value

[2018-02-01 12:20] #16 closed

[2018-02-01 20:01] ikalchev opened #18 "Char init value should be from the valid values if any were given"
The characteristic value is set to some default value on init. However, if this is passed to the iOS client, which expects a pre-defined set of valid values, it will not be happy. Therefore, when setting the default, valid values should be considered.

[2018-02-02 18:09] tagdara opened #19 "Implement Characteristic.set_value callback toggle."
I have a large framework for a home automation system which in many ways is a bridge of bridges, acting as an overall compatibility and abstraction layer across multiple systems.

- I can set the values of the lights for Homekit directly from my code using service.characteristic.set_value and this works no problem.
- I need to be notified about lights change requests from a Homekit user so that I

[2018-02-02 18:31] ikalchev commented on #19
Hi! This is an interesting problem indeed. I can offer the following workaround (discussion for a future non-workaround to follow):

To avoid triggering the callback, your code can do the following:
[code]
The drawback of the above, besides the decoupling of the two operations, is that the check that the new value is in the set of valid values for this type of char. is not performed (it is done in

[2018-02-02 19:03] tagdara commented on #19
The workaround you describe is exactly what I'm doing right now to solve this.  I wasn't sure if there was a cleaner way, but it makes sense.

I also agree that perhaps just having a callback toggle similar to the notify toggle that defaults to true would be the simple solution.

[2018-02-02 19:08] ikalchev commented on #19
The more I think about it the more it makes sense to add this. Alternatively, there could be a dedicated method for handling user-triggered updates.

I think the toggle is better. In any case, I will try to push either in a few days. Will keep you posted.

[2018-02-02 19:12] ikalchev commented on #19
@tagdara By the way, can you explain the use case again? Why is `set_value` called in your `setter_callback`, when the value is set just prior to the callback being called?

[2018-02-02 22:15] tagdara opened #20 "Accessory calculates AID incorrectly"
The Accessory module calculates AID like this:

acc.aid = len(self.accessories) + 2

However if you have previously deleted and created a new AID, the max number of that AID is higher, so it should be:

if len(self.accessories)>0:
            acc.aid = max(self.accessories) + 1
        else:
            acc.aid = 2

[2018-02-02 22:16] ikalchev commented on #20
I am actually minutes away from fixing this, thanks.

[2018-02-02 22:24] ikalchev commented on #20
The problem was that no matter what the aid is set to by the bridge, it is AFTER the check.

This should be now fixed. Note that AIDS can no longer be set from outside. This will be brought back soon, I wanted to fix this asap.

Sorry for this fiasco.

FYI: @xtqxk note this change, also affects Http since it is a Bridge.

[2018-02-02 22:24] #20 closed

[2018-02-02 22:25] gerswin opened #21 "indentify callback"
do you have an example for identify?

[2018-02-02 22:25] ikalchev commented on #20
Uploaded to PyPi as well. Should be refreshed soon. Try updating with --no-cache-dir if your pip has it.

[2018-02-02 22:26] ikalchev commented on #21
You mean when the user taps identify?

[2018-02-02 22:38] ikalchev commented on #19
Thanks for the thorough explanation. No need to share the code.

What `set_value` does is to:
1. Check if the new value is in the valid values (if any). Raise if not.
2. Do `self.value = value   <<<`
3. If there is a callback, call it, passing the new value.
4. If should_notify, send update to clients.

In other words, in the callback the value is already set to the characteristic, i.e. no need to

[2018-02-02 22:40] ikalchev opened #22 "Accessory AIDs, which are part of a Bridge, should be configurable."

[2018-02-02 22:41] ikalchev opened #23 "Customise loaded type during init, as opposed to during get."

[2018-02-02 22:51] gerswin commented on #21
yes

[2018-02-03 06:55] ikalchev commented on #21
[code]

As far as I can tell, you can Identify an accessory only during the pairing process - there is an orange button "identify" at the "Add accessory" story. Nowhere in the Home app did I found a way to Identify after pairing was complete.

[2018-02-03 06:55] #21 closed

[2018-02-03 07:33] #18 closed

[2018-02-03 08:18] #23 closed

[2018-02-03 22:05] #22 closed

[2018-02-05 00:44] schinckel opened #24 "Generate QR Code (and X-HM:// url)"
A nice feature about Homebridge/hap-nodejs is that you can scan a QR code in a terminal window.

I've had a quick look at the code for generating it, and if I can port it to Python I'll create a PR.

[2018-02-05 05:27] schinckel commented on #24
So the URL is made up of two parts: the first is made from the `pincode` and the `category` of the accessory - the other part is (at least in the case of `homebridge`) appears to come from the `setupID`, which I believe is used (along with something else) to generate the `sh` field of the bonjour advertisement.

I'm not sure exactly how to get this part, just yet.

[2018-02-05 05:49] ikalchev commented on #24
I looked at the js code, here is what I found:

1. The `sh` field seems to be new, and HAP-python is missing it. I can try to add this in a few days.
2. The above is generated using the username (i.e. mac) and setupID of the Accessory. I couldn't find what the setup ID is...

Here are all the ingredients in HAP-python.
[code]

If you can find any info on the setup ID, that will be great. Will keep

[2018-02-05 06:09] schinckel commented on #24
I believe it’s “just a value”, that is 4 alpha-numeric chars. In the case of hap-nodejs it appears to be a constant value, unless it’s overridden. I think if it’s not supplied we can create a value and then persist that.

For initial dev I’ll try a fixed string.

[2018-02-05 06:15] ikalchev commented on #24
Sounds good. Will you be working on the QR only or will you try to add the `sh` field as well? Cause I can start with the `sh`.

[2018-02-05 06:25] schinckel commented on #24
I’ve got the QR code stuff working: it uses a couple of dependencies, but it’s fairly simple. It’s just the setupID is appended to the url.

[2018-02-05 06:42] ikalchev commented on #24
Awesome. Waiting for a PR :)

[2018-02-05 10:10] schinckel commented on #24
Bah, I had it working - then I must have mucked something up when extracting it out of my code and into the `HAP-python` code.

[2018-02-05 19:20] ikalchev commented on #19
@tagdara any comments on the above?

[2018-02-12 22:04] helmsman35 commented on #12
+1

[2018-02-12 22:09] ikalchev commented on #12
Almost there, sometime tomorrow probably :)

[2018-02-12 22:24] helmsman35 opened #25 "self.broker.publish -> self.broker == None"
Hi,

I am writing an adapter for HomeAssistant and I have been able to add a bridge, with a temperature and humidity sensors. Pairing goes fine but If I get an updated value from homeassistant I get an Error:

`Traceback (most recent call last):
  File "/usr/lib/python3.5/concurrent/futures/thread.py", line 55, in run
    result = self.fn(*self.args, **self.kwargs)
  File "/home/homeassistant/.hom

[2018-02-12 22:50] helmsman35 commented on #25
I just found out that if I remove accessories.pickle, restart HomeAssistant, repair everything works as expected, once I restart HomeAssistant (and accessories.pickle is loaded) I get the error above on status updates calling update_value, I guess update_value is pickled and restored wrong?

I tried to rename update_value to _update_value with no success...

[2018-02-12 23:06] helmsman35 commented on #25
Ok, My mistake!

I initialised the Accessories and bridge before I checked for the pickle load...

New code:

[code]

and I moved the configuration of the event handling to the __init__ of the Sensor objects, Now everything seems working OK!

Martijn

[2018-02-12 23:06] #25 closed

[2018-02-13 05:17] ikalchev commented on #25
I am happy you got it working. The error you see was because the accessory was started before it is added to an AccessoryDriver. To be honest, I should maybe change the code to do nothing in this case and not crash the world.

Best,
Ivan

[2018-02-13 07:37] helmsman35 commented on #25
I have some more issues right now, as after the pickle load, the __init__ of the accessory seems not to be called (I added a value before the accessory in the accessory.__init__), I must find a way to restore the event catching. As you can see, I do not run any code in accessory.Run. That might be a solution but I need a reference to the object in HomeAssistant to start the event handling. I fores

[2018-02-13 07:44] ikalchev commented on #25
I want to make it easy for others to plug in, like in your case. So your input is really valuable here.

My change is mostly done, I am just writing a small piece of code that will take the pickle and create the new state representation (which is a json file with 1/10 the size). This is so that old clients can upgrade seamlessly.

If I outline my design here, could you share some thoughts and whet

[2018-02-13 07:51] helmsman35 commented on #25
Sure! I was about to implement exactly what you did, until I googled for HomeKit python once again.
The homeassistant cumminity is really interested in my work, as the only way is nodejs/homebridge/homeassistant-homebridge. And nodejs is exactly what I replace with homeassistant. I’m no fan of using JavaScript for home automation stuff. People tend to grab what is available. Lots of people use hom

[2018-02-13 08:53] ikalchev commented on #25
Not being a fan of JS for home automation too is why I made HAP-python :)

Ok, I will start with a short background to be on the same page.

The iOS clients remember certain properties of the Accessories they pair with, such as MAC address, the Accessory public key, etc. This means that on each restart of the Accessory, these same values need to be available, otherwise iOS clients will not be able

[2018-02-13 08:55] ikalchev commented on #19
My previous comments explain why a call to `set_value` inside the callback is not necessary. Please reopen if you do not agree, so that we can discuss it further :)

[2018-02-13 11:32] helmsman35 commented on #25
Cool, I agree with the solution.

The disadvantage is really non existent as -on a restart of homeassistant- the states will update anyway.

I am running your lib as a Bridge, which is started as Homeassistant Is started. Most of the values are "Unkown" at start. once the sensors etc are initialised the events indicating a value/state change would set the actual values.

HomeKit.py (using HAP-pyth

[2018-02-13 11:40] ikalchev commented on #25
Unfortunately, I am not, but it sounds like fun, I will take a look at it.

Sounds awesome! Let me know how can I help make the glue between HAP-python and Home Assistant. I was thinking of adding configuration files in which you just say "I want these and these Accessories with these and these characteristics", but I am not sure this will cover enough use cases. I was thinking about a hybrid appr

[2018-02-13 18:16] helmsman35 commented on #25
OK, I'm back home and "up and running", is there any way we can discuss stuff on Skype, slack, discord or whatever? I have some questions on how to some things. and I do not want to create an issue as the issue is mine, not with this code

[2018-02-13 20:06] helmsman35 commented on #25
OK for now I have a temporary solution

acc=bridge or acc=pickle.load depending on first start or a restart.

[code]

every Accessory most have:

[code]

Now when a state changes the Accessory.update_value is called by Homeassistant,
even after the restart.... this will do until the new pickle alternative is implemented.

[2018-02-13 22:29] ikalchev commented on #12
@helmsman35 Done! Take a look at main.py for the new workflow. The init is now called on restart (this is, you still need to create your accessory hierarchy and pass it to the driver).

[2018-02-13 22:29] #12 closed

[2018-02-13 22:31] ikalchev commented on #25
My Skype is "imortalitymen" (yeah I know). Ping me when you write that down, I would like to delete this :D. The change is in btw (and in pypi), I have tagged you in the corresponding issue.

[2018-02-15 06:37] ikalchev opened #26 "Allow characteristic properties like minValue to be overridden."
It should be possible to configure the properties of a characteristic to align with the functionality of the device and the iOS UI. For example, say your window covering can go up only to 50% open and that it is either closed or open. HAP specifies the default values for the coverings target position as maxValue=100 and minStep=0.1. This means iOS clients can slide at 0.1 step all the way to 100%,

[2018-02-15 07:33] helmsman35 commented on #26
Cool! This is important to properly configure the HomeKit accessories.

I guess a Pos.set_property(“maxValue”, 50) helper methode would be possible. Or even also support a dict as parameter to set multiple properties at once.  The call to _create_hap_template would go in there. I have not looked info the code of that method so I assume here that multiple calls to that method should be possible.

[2018-02-15 07:49] ikalchev commented on #26
Yes, correct. I will see which option is the easiest for clients. The whole problems comes from the fact that this hap template is a kind of skeleton dict which is appended to and sent every time to iOS clients. So to avoid computing this on every request, I cache the template, so property changes get left out.

btw another option would be use the dict interface all together and allow only propert

[2018-02-15 09:54] helmsman35 commented on #26
we must be careful not to do things without thinking.
this is only needed at startup and not at runtime. Setting this in the __init__ of the Accessory

        self.CurrentPosition = self.get_service("WindowCovering").get_characteristic("CurrentPosition")
        self.CurrentPosition.properties["minStep"] = 100

I guess it all depends on when self._set_services is called

[2018-02-15 11:00] ikalchev commented on #26
This is one option, but then you need to trigger the create_hap_template or it needs to be generated every time.

To be honest I don't see a problem of it happening during runtime. This is the point of the accessory's config version - say your firmware updates and suddenly you have some new functionality or a way of doing things. So it should be possible to change properties all the time and the i

[2018-02-15 18:15] ikalchev opened #27 "Characteristic.notify should not fail when broker is None"
The notify method should check if the broker is None and attempt to publish only if it is not None.

[2018-02-16 06:51] ikalchev commented on #27
@helmsman35

[2018-02-16 06:51] #27 closed

[2018-02-16 06:56] ikalchev opened #29 "Pull latest Apple HAP types. Define overrides."
Apple has pushed new Services and Characteristics, which need to be parsed and added to HAP-python using `gen_hap_types.py`.

Also, Apple specifies some non-intuitive default characteristic constraints - for example, by default the CurrentTemperature has a min value of 0, i.e. you cannot report negative values. Thus, there should be a way to override Apple's default values at the end of `gen_hap_t

[2018-02-16 09:21] jslay88 commented on #24
Did a bit of the initial ground work. I don't have access to Apple Documentation, so I built what I could from this snippet.
https://github.com/nfarina/homebridge/issues/1588#issuecomment-341158722

[2018-02-17 01:28] schinckel commented on #24
Okay, I think it's just the QR code that is problematic: I'm generating a url which is identical to `homebridge`.

[2018-02-17 01:29] jslay88 commented on #24
I got it just now. :)

[2018-02-17 01:48] schinckel commented on #24
Turns out I was not removing the trailing `\n` on the setup hash in the advertisement - that was why it was not working.

[2018-02-17 02:14] schinckel opened #32 "Dynamic pin code and setup IDs."
Reading through the Apple HAP documentation, it's pretty clear that "if a device _can_ dynamically generate pin codes, it _should_."

To that end, I started playing around with stuff, and a dynamically generated pin code has no drawbacks (other than having to see what value was generated this time around).

I believe the same is true of setup id (which is used for the URL generation in https://git

[2018-02-17 02:18] schinckel commented on #32
Hahaha! Just saw the commit https://github.com/ikalchev/HAP-python/commit/f7393163fb8aa2c9a6f99e8d17149d7544bdac5c

[2018-02-17 07:48] ikalchev commented on #32
Hi Matthew,

Thanks for sharing this info. Some thoughts:

I think it's nice to have dynamically generated pins and IDs. However, I do think these should be stored as part of the accessory state for the following reasons:
- Wasn't the setup ID included in the mDNS advertising?
- I am not entirely sure why, but the pincode can be sent by HAP clients in a HTTP authorisation header, for which there i

[2018-02-17 07:56] jslay88 opened #35 "Garage Door Opener"
Trying to get this working, and it works for the HomeKit requests, but not when the door state changes outside of HomeKit (i.e. when I open the garage with my car remote, instead of HomeKit).

Would like some help troubleshooting this. I am getting the opposite transition state than you would expect, only when the door state changes outside of a HomeKit request from an iOS device.

You can easily

[2018-02-17 08:34] schinckel commented on #32
Yeah, the setupID (or a hash based upon it) is indeed included in the mDNS advertising, but when you restart the service, you re-advertise.

The other part (the auth stuff) I'm not sure about. I'll see if I can find a reference to it in the Apple docs.

[2018-02-17 08:34] schinckel commented on #35
Oh, oh, oh, I made a garage door opener. You need to do some fancy stuff with target state and current state.

[2018-02-17 08:35] ikalchev commented on #24
Hi all,

Great work from both! I have some just minor comments, which are on the review. I really have no preference on which change goes in, so could you please discuss this between you? Also I do very much like the setup_message from pull #31.

As @schinckel did, I would prefer two changes - one for QR/uri and another for dynamic pincode.

[2018-02-17 08:37] jslay88 commented on #35
Teach me, obi wan

[2018-02-17 08:42] ikalchev commented on #32
You advertise all the time, but you need the same setup ID every time, correct? (otherwise iOS won't recognise you?)

[2018-02-17 08:51] schinckel commented on #32
You need the same `username` (the mac), but the `setup_id` can differ.

[2018-02-17 08:51] schinckel commented on #32
(I've tried, you can configure, then restart with a new setup_id/pincode and it all works fine).

[2018-02-17 09:02] ikalchev commented on #32
Great, so setup ID won't be persisted. Only pincode (due to the HTTP auth header thingy).

[2018-02-17 09:02] jslay88 commented on #32
setup id and pincode can be unique each time, correct.

[2018-02-17 09:05] jslay88 commented on #24
honestly, doesn't matter to me. I was just trying to get my garage door on Siri :) and had a good JS example to work from, since I don't have access to Apple Documentation.

I was more just trying to learn the whole contributing process more than anything by putting it into practice. I'd have no feelings hurt if mine was not taken.

[2018-02-17 09:30] ikalchev commented on #24
Okay so how about this: I am ready to merge @schinckel #34 right away, then @jslay88 can reuse setup_id/pincode logic in the QR/URI change. How does that sound?

[2018-02-17 09:31] jslay88 commented on #24
that works for me, I'll use the conflict report to correct my PR

[2018-02-17 09:34] ikalchev commented on #24
Done, go ahead with the conflicts @jslay88.

[2018-02-17 09:35] ikalchev commented on #32
Big thanks @schinckel for contributing. Will add the pincode persistence myself if I do the TODO.

[2018-02-17 09:35] #32 closed

[2018-02-17 09:52] ikalchev commented on #24
Thanks both. I will dump the version and will push this to pypi by end of today.

I will be away for a few hours now.

[2018-02-17 09:52] #24 closed

[2018-02-17 09:57] ikalchev commented on #24
FYI this doesn't work for me. @jslay88 does it work for you?

[2018-02-17 10:02] schinckel opened #37 "AccessoryService information."
I'm not exactly sure how to override the `AccessoryService` fields: I've tried a bit in my `GarageDoor._set_services()`, but it doesn't seem to work.

I wonder if there should be a way to have this information either pulled from the class, or some other mechanism.

[2018-02-17 10:13] schinckel commented on #37
Perhaps a leaf out of the django book: we could have a `get_accessory_information` hook method, that can simply return a dict of data that should be used in the `AccessoryInformation` service.

[2018-02-17 10:14] jslay88 commented on #24
Nope. Not getting the 00 buffer on the front. Something isn't right after the merge. Let me dig for a moment.

[2018-02-17 10:33] jslay88 commented on #24
#38

[2018-02-17 10:59] ikalchev commented on #37
Hey I am away for a few hours, will get back to you asap

[2018-02-17 11:16] schinckel opened #40 "Suggestion: use Services[Characteristic] to make code more pythonic."
This could then raise a `KeyError`, rather than an `AssertionError` when a non-existent characteristic is accessed.

[2018-02-17 11:18] schinckel commented on #40
Indeed, I thought I remembered that assertions are removed when optimising: https://stackoverflow.com/a/1838411/188

[2018-02-17 12:54] helmsman35 commented on #29
I was looking at the json files in the resources folder for the Speaker service and could not find it. I have checked HAP-NodeJS as I have used that to set the volume on my transceiver when I ran homebridge.

I have not thoroughly compared everything but I find things missing in the resources jsons

[2018-02-17 13:49] ikalchev commented on #29
I know, hence this issue :)

[2018-02-17 16:16] ikalchev commented on #24
Works like a charm now.

[2018-02-17 16:35] ikalchev commented on #37
Here is a simple example of how it can currently be done:
[code]
You can of course do all this in the `init` or in `_set_services`. However, I like your idea in #41, it has a valid use case.

[2018-02-17 16:42] ikalchev commented on #40
This is something new for me, I didn't know asserts can get ignored. I will give it some though.

[2018-02-17 21:34] schinckel commented on #37
I had issues with the data not showing up in HomeKit when I override it, but maybe I did something unusual.

[2018-02-18 01:11] cdce8p opened #43 "Suggestion: HAP-python-min"
I was thinking if it would make sense to add a new **pypi** project: `HAP-python-min`. This would include all content from `pyhap` except for the `accessories` folder.

I'm currently working on a component for [Home Assistant](https://github.com/home-assistant/home-assistant). Some of the examples form the accessories folder may work, but to port of all functions is basically more difficult than t

[2018-02-18 01:18] cdce8p opened #44 "Suggestion: Dev branch for repo"
Maybe it could be a good idea to create a `dev` branch for this project.
All PR's would be against the dev branch and later merged with one PR to master.

This would allow for easier maintenance of other projects using `HAP-Python` with the added benefit of a rough change log for each new version in the master branch.

[2018-02-18 08:19] ikalchev commented on #37
Possible reason: Note that if the Acc is paired with iOS when you make the change, you need to call `config_changed` to trigger iOS clients to re-fetch Characteristics that they don't usually track (alternatively just bump the config_version in the .state and restart). See here for more info: https://github.com/ikalchev/HAP-python/issues/13

[2018-02-18 08:20] ikalchev commented on #19
Okay I get the use case for the callback toggle, reopening this. FYI @schinckel

[2018-02-18 08:24] ikalchev commented on #44
I am lacking knowledge in this area, but it looks like it could be worth to add it, especially if HAP-python gets integrated into Home Assistant.

[2018-02-18 09:18] #29 closed

[2018-02-18 09:18] schinckel commented on #43
I was thinking about this too: whether we package up third-party accessories elsewhere. Perhaps we should/could create a HAP-python team or whatever GitHub calls them, and put packages into there. Could make it easier to have new packages/authors involved, too.

[2018-02-18 10:51] helmsman35 commented on #44
Cdce8p took my experiments and created something in HA, expect the use of HAP-python to explode in the Next few days. I allready responded that the jump he made is way to big for me.

The good thing is that HomeKit support for HA is sped up.

The bad thing is that at the moment I am not able to contribute anymore due to lack of git knowledge I guess my only contribution is a little experiment to p

[2018-02-18 20:23] ikalchev commented on #44
Surely @cdce8p didn't want to just copy your work. I think this will be a lot work and not for a single person. Maybe both of you can discuss the integration and split the work?

PS: Can we move this discussion to HA community or https://github.com/home-assistant/home-assistant/pull/12488?

[2018-02-18 20:49] ikalchev commented on #43
Okay I will check how to do that, any sharing of know-how is appreciated.

[2018-02-18 21:42] #19 closed

[2018-02-18 23:08] cdce8p commented on #44
@ikalchev for the moment it would be enough to tag each new release. Makes it way easier to compare changes between release. A good starting point: [stackoverflow](https://stackoverflow.com/questions/18216991/create-a-tag-in-github-repository)

[2018-02-18 23:33] helmsman35 commented on #44
Cool, I wrote an essay in the other thread about finding information about git/github and here you point to stackoverflow (I love that site). Is It me or should that information be in some GitHub Wiki documentation. The entire GitHub site (and users) just seem to expect people know how it works.

Even Microsoft office has help (ok, not very useful, my experience is not that positive with the Redmo

[2018-02-18 23:38] helmsman35 commented on #44
cool, exactly in the place I was not expecting it, I found this: [https://help.github.com/](https://help.github.com/)

It is on the bottom of I guess every page, hidden behind my laptop screen on my 2nd monitor and in the menu opening when you click on your account avatar in the top right.

[2018-02-18 23:40] helmsman35 commented on #44
or this: https://git-scm.com/book/en

[2018-02-18 23:41] cdce8p opened #45 "Accessory Object parameters"
The issue regarding https://github.com/home-assistant/home-assistant/pull/12488#discussion_r168964460

As I mentioned above, I personally don't like the way `Hap-python` handles the `__init__` calls for Accessories. At the moment calls look something like this:

### main.py
` acc = TemperatureSensor(display_name='Temperatur')`

### TemperatureSensor(Accessory)
[code]
Parameter are just being forwa

[2018-02-19 03:40] jslay88 commented on #43
I like this idea about the team and moving accessories elsewhere. I have some pretty specific ones that I would like to include, but feel they are too specific for the main repo.

[2018-02-19 05:51] jslay88 opened #46 "Sphinx Documentation"
Wanted to open an issue to discuss this PR.

We should get some Sphinx (or some other auto-generated documentation) in place now that HA is starting to pick up interest. This will help a lot with new people.

Some basic stuff has been added, wanted to get feedback before I went too deep down the rabbit hole.
It's setup on the ReadTheDocs theme.

[2018-02-19 06:25] ikalchev commented on #46
Big big thanks!

[2018-02-19 06:25] #46 closed

[2018-02-19 06:30] jslay88 opened #49 "More Sphinx Work"
Putting this issue here to track progress on the Sphinx Documentation.

Todo:

- We will need to go through more of the project and switch over to sphinx docstrings. I only hit Accessory, Bridge, and AccessoryDriver.
- Ubuntu LTS Installation Pre-Requisites.

[2018-02-19 06:31] ikalchev commented on #49
You mean the git pushes?

[2018-02-19 06:33] jslay88 commented on #49
No, this basically, is for the work that needs to be done still to finish out the documentation so that others can see our needs for documentation, and can also contribute.

The tag will be good for organizational purposes for people looking specifically for documentation work.

[2018-02-19 06:34] ikalchev commented on #49
Like so?

[2018-02-19 06:35] jslay88 commented on #49
Yeah, also, since you are more familiar with the scope of the project, can you please let me, and others here, know what else besides the 3 classes that need to be documented with priority?

[2018-02-19 06:42] jslay88 commented on #49
Also, it should be ready to be able to hook into readthedocs.io

https://docs.readthedocs.io/en/latest/getting_started.html#sign-up-and-connect-an-external-account

[2018-02-19 06:43] ikalchev commented on #49
1. [characteristic](pyhap/characteristic.py)
2. [service](pyhap/service.py)
3. [util](pyhap/util.py) - good to have but not at all that important right now

Yes, I was thinking of readthedocs and will probably do it in the following days.

[2018-02-19 08:58] jslay88 commented on #49
Keep in mind that the sphinx docstrings are different.

`:param x:`

instead of

`@param x:`

[2018-02-19 22:59] rodriguez-lucas opened #52 "Race condition when setting timeout for send event; Document Characteristic.setter_callback"
Hi,

I'm trying to set up a door (`LockMechanism` service) and I'm having this problem: the hap_server responds with timed out.

The door is initially closed and then I tap to open it within the apple's home app.

Here is what I have:

main.py
[code]

ElectronicLock.py
[code]

terminal log:
[code]

The thing is that after the time out occurs, the server seems to stop listening new requests. I took

[2018-02-19 23:51] gerswin opened #53 "Camera accessory"
is possible?

[2018-02-19 23:52] gerswin commented on #35
[https://github.com/gerswin/HAP-python/blob/master/pyhap/accessories/mqtt/GarageDoor.py](url)
check this, maybe can help you

[2018-02-20 03:02] rodriguez-lucas commented on #52
Update:

This may help: [BaseHTTPRequestHandler.py](https://svn.python.org/projects/python/trunk/Lib/BaseHTTPServer.py) (`handle_one_request` method)

I overloaded the method `handle_one_request` in `HAPServerHandler`.
[code]
I can confirm that the line: `self.wfile.flush()` is executed but after that a socket.timeout exception occurs.
Another thing I can say is that the exception not always happe

[2018-02-20 06:11] ikalchev commented on #52
Hi @rodriguez-lucas,

The problem in your code is that when `lock_target_callback` is called, the value of the target state is **already** set, i.e. the callback is called after set value sets the value. What roughly happens is:
- iOS updates the target state - triggers `set_value`
- `set_value` (1) sets the value (2) calls the callback and (3) sends the updated value back to iOS

The below works

[2018-02-20 06:13] ikalchev commented on #53
Currently not. I will implement that as soon as I find the time. Keeping this issue for tracking.

[2018-02-20 11:18] ikalchev commented on #43
Will work on this now.

[2018-02-20 11:19] ikalchev commented on #44
Will work on this now, together with #43

[2018-02-20 11:21] ikalchev opened #54 "Support for HAP included services"
Consider the following Apple-defined service in json as an example:

[code]

The `IncludedServices` field is not yet supported in HAP-python.

[2018-02-20 11:22] ikalchev commented on #45
I see what you mean and I agree. I will think how this can be made better.

[2018-02-20 17:27] rodriguez-lucas commented on #52
Thanks @ikalchev!

I see your point, that solution (removing the line you said) works. I was aware of it, was on my first comment before I edited it for being so long.
That said, the reason I was doing that was because I wanted the door to be closed automatically after a timeout, so I had something like this:

(please ignore the timer implementation, the only thing you need to know if that after ~

[2018-02-20 21:55] ikalchev commented on #52
What follows is a guess, but I am very confident this is exactly what happens:

## Background
When iOS connects to an Accessory, it doesn't close the connection (socket) - it keeps it alive and doesn't say when it leaves (makes sense, because phones move, go to sleep, etc.). It is the accessory's responsibility to "expect" a dead connection.

So using this keep-alive connection, the accessory can

[2018-02-21 07:19] jslay88 commented on #49
Doesn't look like the working directory is getting set on rtd. API is not building out the autoclass. Investigating.

[2018-02-21 07:39] ikalchev commented on #49
I barely had the time to do the Travis and rtd integrations, hopefully I full find more time soon. Thanks for keeping an eye on that.

[2018-02-21 07:40] jslay88 commented on #49
No problem. Got it figured it. Will post more info in a few minutes once I have everything nailed down.

[2018-02-21 07:46] jslay88 commented on #49
Ok, there may be a few settings to change on RTD.

Under the project panel, Admin -> Advanced Settings

- We need to have `Install your project inside a virtualenv using setup.py install` checked.
- `Python interpreter` needs to be set to `CPython3.x`

I will submit a PR for the code changes needed.

[2018-02-21 07:49] jslay88 commented on #49
Also, these have been documented from the last doc merge.

- Characteristic
- CharLoader
- Service
- ServiceLoader
- Util

[2018-02-21 21:01] rodriguez-lucas commented on #52
I can confirm that the "working" solution sometimes timeouts, and as you said setting timeout to None seems to vanish the problem.

I'll stay tuned and tell if I find sth.

[2018-02-21 21:07] ikalchev commented on #52
Fixed. The change is also in pypi (if you don't find 1.1.7, wait for a bit, it sometimes lags).

Let me know if you find any more issues with this or something else :)

[2018-02-21 21:07] #52 closed

[2018-02-21 21:33] rodriguez-lucas commented on #52
Nice, I made a quick test and everything seems to be working fine, at least the timeout problem. Thank you.

[2018-02-21 21:35] ikalchev commented on #52
No worries. At least the timeout problem? Are there more? :D

[2018-02-23 16:46] cdce8p commented on #45
I had the time to look at the code. Every option to change this issue would most likely break every implementation that is currently out there and require more mandatory method calls to get started. By now I'm not sure if it would be worth it. If you have an idea, I'm happy to help, but IMO the time would be better spend solving other issues (like #44).

[2018-02-25 11:10] ikalchev commented on #44
- Created `dev` branch
- Default branch is now `dev`
- Added tag v1.1.7 on `master`
- Merges from `dev` to `master` will come with a new tag, which will be the new version number.
- All new merges to `master` will be uploaded to pypi.

Will work on Travis CI to automate some of this, but this is lower priority now. Tell me if you think the above workflow can be made better.

[2018-02-25 11:10] #44 closed

[2018-02-25 17:46] cdce8p commented on #44
Thanks for doing that :+1:
The workflow sounds great and will lead to easier maintenance for other projects that depend on it. As a side note the initial HomeKit support for Home Assistant will be available in the upcoming release. This wouldn't have been possible without your work on `HAP-python`.

On small thing I'm not sure you are doing it already. If you change something, do you commit the ch

[2018-02-26 05:15] ikalchev commented on #44
Happy to hear the HA integration is going good, thanks!

As for the new commits with PR - sounds good. We have to see if there are enough people commenting as well.

[2018-02-26 08:15] ikalchev opened #58 "Support for ValidBits Characteristic property"

[2018-03-01 05:15] schinckel opened #59 "Pairing not initiating/completing."
I'm still hunting down exactly what's going on, but it seems that for some reason I can't successfully pair _any_ HAP-python accessories any longer.

I'm not sure this is something that has changed with our code, as I un-paired and then attempted to re-pair with one that I know worked a couple of weeks ago, but without any luck.

If you check out the repo to `master`, and then run `tox -e temperat

[2018-03-01 05:44] schinckel commented on #59
I've been comparing this with `homebridge` and I'm not sure I can see any requests coming in to the `HAPServer`.

[2018-03-01 05:58] schinckel commented on #59
Works fine after a system restart. Weird.

[2018-03-01 05:58] #59 closed

[2018-03-01 05:58] ikalchev commented on #59
I just pulled latest and did `tox -e temperature` and got paired right away (I am on a macOS High Sierra). Perhaps the MAC address that was generated does not appeal to iOS - I had this a few times when testing way before uploading HAP-python to git. Could you try to delete the tox env and restart?

[2018-03-01 05:59] ikalchev commented on #59
Glad to hear

[2018-03-03 04:35] gerswin opened #60 "Http bridge switch"
Is possible ?

[2018-03-04 09:08] ikalchev commented on #60
Currently, no, but I want to add this. I haven't figured a way which I like yet. Feel free to propose something.

[2018-03-07 08:50] ikalchev commented on #53
Currently working on this, I hope to finish it by end of the week.

[2018-03-19 18:48] gerswin opened #61 "Sixth added accessory to a bridge does not work?!"
i have 10 lightbulbs devices but for some reason one or two of them randomly  gets not supported.

[2018-03-19 19:16] ikalchev commented on #61
Does the problem disappear after a restart of HAP-python?

[2018-03-19 23:23] gerswin commented on #61
no :/

[2018-03-20 04:43] ikalchev commented on #61
Let me try to reproduce and I will get back to you soon.

[2018-03-20 20:52] ikalchev commented on #61
I know this will sound crazy but here it is:

[code]
The above adds all accessories and everything works fine. Except the sixth lightbulb with name **l5**. So I split the above for loop and skipped number 5 (because why not). This time **l6** does not work. So I need to investigate why this happens but I think its something silly.

[2018-03-20 20:56] ikalchev commented on #61
The above can be reproduced with the loop running in (0, 6).

[2018-03-22 20:14] cdce8p opened #64 "Async support"
Currently `HAP-python` uses threads which, at least on a larger scale, does impact performance quite a bit. Are there plans to change to an async framework, like `asyncio` in the future?

Unfortunately this would also require a more recent min python version, to take full advantage of the new async syntax introduced with py3.5.

[2018-03-22 21:13] ikalchev commented on #64
This is actually a very good idea, which I think we might pursue. I was recently thinking on the threads starting to be an issue and it looks like asyncio can fit the bill nicely.

Dropping 3.4 will not be a huge issue I believe. I had similar requests before, but no good reasons to do it.

I am currently busier at work than what is usual, but I expect things to be back to normal from this weekend

[2018-03-22 21:30] jslay88 commented on #64
https://discord.gg/BhxZ4Dy

So lonely :)

[2018-03-22 22:13] cdce8p commented on #64
Good to here that. I'm happy to help, although I just started watching talks and tutorials about this two weeks ago :sweat_smile: I didn't wanted to start before knowing if this is something you want. It's quite some work and will require major changes to the code base.

Maybe we can coordinate efforts on the discord channel than

[2018-03-22 23:08] cdce8p commented on #26
Just found this issue. As far as I see it, there aren't any major advantage in using `_create_hap_template`, since copying the template dict in `to_HAP` does take some time as well.

However every attempt to override the properties must happen before the the accessory is paired. That complicates things. I think the best option would be to implement it somewhere in `loader` and read all property ch

[2018-03-23 05:12] ikalchev commented on #26
This is exactly how I was imagining this initially, but then imagine you need different minValue for different chars instances. In that case creating two files is an overkill and won’t scale well. The hap template solution posted above is how things can work now - it is a hack, and I don’t like it.

Going through the loader has the implication that you need to configure the CharLoader and pass tha

[2018-03-23 12:24] cdce8p commented on #26
The issue with that is/was that the official docs mention that properties aren't allowed to change after the the accessory is paired. However I had the chance to test it and it seems that in reality it doesn't matter, at least for `min_value` and `max_value`.

I updated the PR to include the `override_properties` method which should make it simpler to update those.

[2018-03-24 08:52] ikalchev commented on #61
I found a workaround:
[code]
The code in `add_accessory` assigns AIDs from 2 onwards. For some reason, AID=7 gets unsupported. I tried to reproduce the error with a different AID by adding twice the number of accessories - nothing. When I start assigning AIDs from 100 instead (as in the code above), everything works like a charm.

I really have no idea why this happens. At first I thought that may

[2018-03-25 08:11] #26 closed

[2018-03-25 09:42] ikalchev commented on #61
Quoting from the official spec:

Accessory instance IDs, "aid", are assigned from the same number pool that is global across entire HAP Accessory Server. For example, if the first Accessory object has an instance ID of "1" then no other Accessory object can have an instance ID of "1" within the Accessory Server.

What we give to the Home app when it says unsupported:
[code]

Submitted a fix that b

[2018-03-25 09:42] #61 closed

[2018-03-27 12:52] ikalchev commented on #64
FYI started transforming the Accessory/Bridge run methods to use asyncio (seemed easiest starting point)

[2018-03-27 13:12] cdce8p commented on #64
:+1: Could you open a `[WIP] PR` for it?

[2018-03-27 13:14] ikalchev commented on #64
Yes, good point, I am doing this now since I moved to dev and master branches. I hadn't had anything significant to push recently due to lack of time.

[2018-03-29 12:58] morberg opened #68 "Type for ColorTemperature is missing"
I can't find [color temperature](https://developer.apple.com/documentation/homekit/hmcharacteristictypecolortemperature) anywhere in the [characteristics.json](https://github.com/ikalchev/HAP-python/blob/dev/pyhap/resources/characteristics.json) file.

The HAP-NodeJS implementation has a color temperature characteristic in [HomeKitTypes.js](https://github.com/KhaosT/HAP-NodeJS/blob/a4f806d4eccf97c

[2018-03-29 13:46] ikalchev commented on #68
This is interesting, I updated the hap types a few weeks ago and I see the color char is from august last year:
https://github.com/KhaosT/HAP-NodeJS/commit/30f0aadc1613863e1590a6132484da92e617e385#diff-1594a403ef24f947b4afcae7e9d1c69f

I will look into this, thanks.

[2018-03-29 19:28] ikalchev opened #70 "Add deprecated chars and services"
The current version removes deprecated Apple-defined characteristics and services. These should be available somewhere for people using an older iOS.

[2018-03-30 08:54] schinckel opened #71 "[Discussion] Alternative definition of accessories."
I don't really like the amount of work that I have to do to define an accessory, and use it - specifically: creating a driver, and how much `super()...` stuff is required.

Taking a leaf out of django's book, I've been playing around with using metaclasses, and a more declarative approach to declaring the accessory, and her services.

As a result, I have a syntax for definition that looks like:

[2018-03-31 06:59] ikalchev commented on #64
@cdce8p have you used aiohttp https://aiohttp.readthedocs.io/en/stable/

I am considering it as the next step (after the Accessories run method).

[2018-03-31 11:55] cdce8p commented on #64
@ikalchev Not yet, since I didn't have/had any experience with networking prior to working with `HAP-python`. `aiohttp` seems to be the right choice though.

Did you open a WIP PR? That would really help. Especially to know what will be changed and to give suggestions.

[2018-03-31 12:28] cdce8p commented on #64
Work in progress

[2018-03-31 19:06] ikalchev opened #75 "Allow characteristics to indicate set value failure"
This should propagate in `AccessoryDriver.set-characteristics`. FYI @thomaspurchas @cdce8p

[2018-03-31 21:59] cdce8p commented on #75
I think we need to differentiate here. Setting a value on its on (just for HAP-python) can't fail, because HomeKit can only send valid values. However the callback could. Maybe fall down from there, through `return False`?

[2018-03-31 22:28] cdce8p commented on #75
Didn't read the comments below #73 :sweat_smile:
Good that we thought of the same thing here.

[2018-04-01 04:52] ikalchev commented on #75
I should have been more concise. FYI I label “protocol” issues that implement pieces of the HAP spec.

[2018-04-02 00:38] cdce8p commented on #64
@ikalchev @thomaspurchas What do you guys think about creating a separate branch, maybe `dev-async` to support the async conversion. For now all async related PR's would be based against this branch, new features from dev merged via PR to dev-async and when we are ready we merge it into dev (later master) with the complete async support.

That way we don't need to guaranty that every version of th

[2018-04-02 09:48] thomaspurchas commented on #64
Seems like a reasonable thing to do.

#76 is just doing some work that is related to #74, porting the rest of the accessories. I don’t really care where it ends up.

On 2 Apr 2018, 01:38 +0100, cdce8p <notifications@github.com>, wrote:

[2018-04-02 12:43] thomaspurchas opened #77 "Thread safety"
@ikalchev do you have any docs covering thread safety? I know elaborated about how threads are used in #74, but it looks like characteristics `set_value()` is not really thread safe, while being called from multiple threads.

Also do you offer guidance anywhere for how an accessories `run()` loop should interact with requests from py-HAP in a thread safe manner?

[2018-04-02 14:33] cdce8p commented on #77
Regarding `set_value`: You might be right here. What if the user calls `set_value` at the same time, when the value is changed in HomeKit and `set_characteristics` calls `set_value`?

Regarding run(): I don't think there is currently. Although `set_value` might not be threadsafe as described above, I think this method should be the point of connection here.

[2018-04-02 14:44] ikalchev commented on #77
`set_value` is not thread-safe that's true - the server thread can set that as part of handling a user request, while in the same time the Accessory thread can set it. Ops.

[2018-04-02 14:45] ikalchev commented on #77
The chars are the only shared state, which are solely manipulated through `set_value`. At least I cannot recall another such place.

[2018-04-02 17:25] thomaspurchas commented on #75
To summarise from #73:

[2018-04-04 07:39] thomaspurchas opened #78 "[Feature Request] getter callback"
I noticed that in all the example accessories there is always some sort of polling loop updating a char `value`.

I think it would be good to add a `getter_callback` (in addition to the `setter_callback`) that is called when an iOS client requests a char `value`. Then the request can trigger a sensor poll, returning the most recent data, updating the local `value`, and sending any notifications.

[2018-04-04 07:45] ikalchev commented on #78
Sounds good. FYI iOS subscribes for almost all characteristics, so it waits for changes and expects these to be updated without it having to ask for it with a GET request. The only time when iOS does a GET is when you open your Home app or pull your control center and tap on the home icon thingy. This was the reason I decided to go for a more push-y model.

But I def agree - a getter callback can

[2018-04-04 20:30] cdce8p commented on #64
I would be ok with that if you thinks so. Before you merge any async PR into dev, could you do a release to `1.1.9` after #73?

[2018-04-04 20:39] ikalchev commented on #64
Sure, we can wait for 73, push it to master, "release" and then finish with the asyncio.

[2018-04-07 11:09] schinckel opened #80 "Make AccessoryEncoder easier to subclass."
Currently, it's really not possible to extend the encoder: you need to copy-paste the method body, and then add your extra stuff you want to store in the state before you dump it to json.

I think each operation should be split into two, so it's possible to add/change the data that will be persisted (and handle that extra data on the way in), but also more easily switch the encoding method (for in

[2018-04-07 11:10] schinckel commented on #80
In my case, I wanted to store/restore the associated accessories that were added to a bridge dynamically, and needed to rewrite the entire class - there was not even a simple way to _use_ the existing AccessoryEncoder class.

[2018-04-13 06:03] ikalchev commented on #80
Thanks for the feedback, I will try to think of something in the weekend and get back to you

[2018-04-17 14:35] berkobob commented on #53
Would it be possible to get an example of a camera accessory? And, as an added bonus a quick tutorial on how you did it would be amazing. Thank you in advance.

[2018-04-17 21:58] cdce8p opened #91 "Global_setter for services"
I think it might be useful to implement something like a `global_setter` for services. Those should get called when one or more char values of this service are about to be changed to provide an  access point for end users.

The concrete case is an issue / bug with the HomeKit lightbulb service. When setting the light to a specific brightness in the Home app from the off state, HomeKit calls to cha

[2018-04-18 05:28] ikalchev commented on #53
Hi! Unfortunately the camera support is not ready yet, sorry. I can do a PR with whatever work I have done so far if you wish.

Basically, the logic is there, but there a few details to fill in - such as parsing exchanged values to the right format, etc. I do plan to finish this, but it’s hard to give a date rigth now. Still, if you need the PR to try to finish it yourself I wouldn’t mind

[2018-04-18 05:32] ikalchev commented on #91
I see the problem. This can be handled in the setters for the bulb I guess (with a small wait before applying I suppose). How do you think it would be the most useful? How should the setter figure out that more than one char is about to be changed?

[2018-04-18 10:00] berkobob commented on #53
I don't know what PR means but I'd love to help if I can

[2018-04-21 17:07] cdce8p opened #94 "Remote access accessories"
HomeKit supports devices accessing the accessories through hubs. This seems to work with `homebridge`, but not with `HAP-python`. Do you know if it's something we can fix or if it's on Apple's side?

Related:
https://github.com/home-assistant/home-assistant/issues/13981

[2018-04-21 17:39] ikalchev commented on #94
Do you mean through an Apple TV/iPad? This used to work in HAP-python, but haven’t tested recently. Is this what you mean?

[2018-04-21 19:27] cdce8p commented on #94
Yes. In the case that your iPhone isn't in the Wifi network, it should still be possible to contol accessories if you have an active hub.

I tested it today with an iPad Air 2 as hub, but that didn't work. The accessories stayed unresponsive. It was the same for `homebridge` which is why I belive that it is a issue Apple has to fix. I was just curious if aou know anything about it.

[2018-04-21 19:30] ikalchev commented on #94
I will be able to test tomorrow. I can confirm that this worked a few weeks ago for me and one other user I know of.
Will get back to you when I test

[2018-04-21 22:39] ikalchev commented on #94
https://9to5mac.com/2017/12/07/homekit-vulnerability/123/ which iOS versions have you tested?

[2018-04-22 00:39] cdce8p commented on #94
11.3

[2018-04-28 11:49] schinckel opened #97 "Consider using "wrapt" for decorators."
The AsyncAccessory stuff looks interesting, but I note that you are writing some decorators in there.

GrahamDumpleton wrote a series of blog posts about writing decorators, the TLDR of which is that you should use his wrapt package when writing them to ensure they work reliably, and don't change the name/signature of the object they are wrapping.

https://github.com/GrahamDumpleton/wrapt/tree/mas

[2018-04-28 20:45] cdce8p commented on #97
I don't think that this is that big of a deal, but adding `@functools.wraps(wrapped)` woun't hurt either.
@schinckel Do you want to do the change and prepare the PR?

[2018-04-29 07:55] shuaiger commented on #53
I vote for this feature too, camera is in need.

[2018-04-29 12:13] schinckel commented on #53
Any chance you can push what you have so far @ikalchev? I can't seem to see anything in the `camera` branch.

[2018-04-29 12:29] ikalchev commented on #53
Yes sure. Let me put some comments here and there so that someone can pick it up. I suppose I will able to do it in a several hours from now.

[2018-04-29 17:05] ikalchev commented on #53
Posted PR if you want to have a look

[2018-05-05 08:34] ikalchev commented on #43
For Option B, things will look like this
[code]
Third-parties can add sub packages to accessories following this directory structure in their repo.

See here https://packaging.python.org/guides/packaging-namespace-packages/#native-namespace-packages.

[2018-05-05 08:46] ikalchev commented on #37
You can now use `add_info_service`

[2018-05-05 08:46] #37 closed

[2018-05-05 09:49] cdce8p commented on #43
I'm no expert on packaging. However I don't think Option C will achive the objectives of this change.

Besides reducing the package size, extracting the accessories to their own repo would make development easier since we can update them for a new version seperately.

Therefore I would prefer either `A` or `B`.

[2018-05-09 13:33] #78 closed

[2018-05-13 21:28] cdce8p commented on #45
I think this issue can be closed for now. If there is still a need for it after the complete change to `async` this can be reopened.

[2018-05-13 21:28] #45 closed

[2018-05-19 05:40] ikalchev commented on #43
Done. See `pyhap.accessories.README.md` for integrating as a sub package.

[2018-05-19 05:40] #43 closed

[2018-05-29 14:50] netmanchris opened #131 "Pulling data from Homekit"
Great project!  Looking forward to hacking away in python on my favourite smarthome ecosystem. Does HAP-Python allow for pulling data from homekit as well? Can I list homekit accessories? List attributes of homekit accessories? Grab data points of homekit accessories?

Curious if it’s possible to finally grab data points and provide a cross-vendor historical graph for things like temp or power dra

[2018-05-31 06:13] ikalchev commented on #131
Hey thanks for the nice words and also sorry for the late reply!

You can pull data, but you would need to register your hooks to collect this data. For example:
[code]

For listing accessories (I assume you will be using a Bridge, otherwise it's just one accessory) you can just do `bridge.accessories`.

For the attributes - what exactly do you need? An accessory is pretty much a container for ser

[2018-06-09 06:46] ikalchev commented on #53
I am working on this whenever I can, but it's been hard to find the time lately. Will really try to finish this soon. Very sorry for this.

[2018-06-09 06:52] schinckel commented on #53
@ikalchev Don't apologise! You've done an amazing job making the parts of this that you have! Whenever you get around it is fantastic.

[2018-06-09 06:56] ikalchev commented on #53
@schinckel Hey thanks man, really appreciate the nice words!

Still, I see people have interest in this feature, which I said will be finished months ago.

[2018-06-16 15:57] p000 opened #134 "How to assign a unique topic or ID to an accessory."

[2018-06-18 13:48] p000 opened #135 "Persistent data is not working. So I cannot restart my home bridge."
[code]

[2018-06-18 13:53] p000 commented on #134
I tried adding ``` aid ``` when creating the accessory, but its throwing error.
Is it possible to store 16 char value in ``` aid ``` so that I'll know which device is triggered.

[2018-06-18 16:51] ikalchev commented on #135
What's the version of HAP-python and python that you are using?

[2018-06-18 17:01] ikalchev commented on #134
Are you getting:

[code]

If you have a standalone accessory, it must have an AID equal to 1 - this is required by the apple protocol. If you have a bridge, then the bridge must have an AID equal to 1, and all accessories in the bridge can be whatever you like. Quoting Apple's spec:

May I ask what are you trying to achieve? Maybe we can help

[2018-06-18 17:03] ikalchev commented on #134
Reopen if you find an issue here. Keep the conversation here if needed :)

[2018-06-18 17:03] #134 closed

[2018-06-18 20:15] p000 commented on #135
HAP-python (2.2.2)

[2018-06-18 20:19] p000 commented on #134
I wanted to attach unique topic to every accessory in order to control.

[2018-06-21 22:22] cdce8p commented on #135
Are you using Windows?

Those other issues could be helpful
https://github.com/warner/python-ed25519/issues/11
https://github.com/home-assistant/home-assistant/issues/13560

[2018-06-22 17:25] ikalchev commented on #53
I haven’t forgotten you all, I think we are almost there

[2018-06-23 12:39] p000 commented on #135
Yes I'm using windows

[2018-06-24 19:36] ikalchev commented on #135
What about the python version?

[2018-06-26 09:22] p000 commented on #135
Python 3.6.4 (v3.6.4:d48eceb, Dec 19 2017, 06:54:40) [MSC v.1900 64 bit (AMD64)] on win32

[2018-07-03 15:58] Sunrise17 opened #136 "HAP-Python in MicroPython"
@ikalchev , how can i apply an accessory code, on ESP32 board?
Micropython is already installed on my board. Is it possible to use HAP-Python accessories on Micropython?

[2018-07-04 17:48] ikalchev commented on #136
What do you mean by accessory code?

I haven't tried using HAP-python on ESP32, but I have a few of them lying around. I will be happy to help you try it out if you want to. One possible issue I can think of is that the crypto libraries have C backends - I don't know if these will compile out of the box for ESP32. I have managed to port wolfssl and libpbc to ESP32 so it might work.

Let me know if

[2018-07-05 05:02] KyleLeneau opened #137 "Home App "Couldn't add Bridge" error"
Hello,

I am not sure the best way to report this issue to you but I have run across something that is very similar to this issue: https://github.com/home-assistant/home-assistant/issues/12868

From the logs it looks like everything is pairing correctly but the Home app is reporting that it can't connect to the accessory afterwards. I am using the latest version of the distribution from PyPi (2.2.

[2018-07-05 11:48] cdce8p commented on #137
Have you tried setting the logging level to `DEBUG`?

You mentioned the Home Assistant issue thread. It might be helpful to take a look at https://github.com/home-assistant/home-assistant/issues/14567 as well.

[2018-07-06 10:02] ilyamordasov opened #139 "How to re-add accessories?"
If I remove all accessories from HomeKit and try to add the new one, I can't see the pairing code. If I reboot HAP-bridge it's waiting for the accesories from HomeKit.

`INFO:pyhap.accessory_driver:Loading Accessory state from accessory.state
INFO:pyhap.accessory_driver:Starting the event loop
INFO:pyhap.accessory_driver:Starting accessory Bridge on address 10.0.50.41, port 51826.`

For example in

[2018-07-06 20:56] ikalchev commented on #139
To just start anew, delete `accessory.state`  and let me know if you get the code again.

As for showing the code after a reboot, let me get back to you tomorrow.

[2018-07-06 21:50] ilyamordasov commented on #139
yep, it works! thanks

[2018-07-06 21:50] #139 closed

[2018-07-08 00:05] KyleLeneau commented on #137
I just restarted my machine and updated the `accessory_driver.py` file (https://raw.githubusercontent.com/cdce8p/HAP-python/5f6f7d4589b5a64b3159475c7701d901a7d01933/pyhap/accessory_driver.py) and got the same error again.

I also have my applications log level set to `DEBUG` and see the debug messages from my module and pyhap but no errors in the console.

I am starting my app as `vent/bin/python

[2018-07-08 00:18] KyleLeneau commented on #137
I just got it working now with the new driver. I was setting the aid on the child accessories to a UUID string (primary ID of what I am backing). I am going to try the old 2.2.2 version again and see if it will still work for me without the workaround.

[2018-07-08 19:35] KyleLeneau commented on #137
Another update, I got it working with the `accessory_driver` from the original source and distribution.

[2018-07-09 09:43] ikalchev commented on #137
Hi @KyleLeneau and sorry for the delay. Just to make sure I get the issue correctly: you were setting the AID to a UUID string and now when you set it to an uint it works, correct? (AID or IIDs should be non-negative integers per the HAP spec). If this is the whole issue, I guess I need to update the docs or check the type of the passed AID.

[2018-07-10 05:56] mjoldfield opened #140 "No response after restart"
I have written a simple accessory which publishes data from some sensors. It all works reliably if I start the code and leave it running, but if I stop the code and then restart it, the services are all marked as not responding in the Home app. This probably remains for at least eight hours, after which I got bored, deleted the accessory and added it again.

The state persistence file is being cre

[2018-07-10 07:22] ikalchev commented on #140
Could you please paste the logs after you restart (and change them to DEBUG)?

Can you also test with the fake temperature sensor from here: https://github.com/ikalchev/HAP-python/blob/dev/accessories/TemperatureSensor.py?

[2018-07-10 08:05] ikalchev commented on #137
Glad to hear you got it working. I will add a type check so this can be caught earlier

[2018-07-10 18:22] #137 closed

[2018-07-12 16:48] mjoldfield commented on #140
Thank you for looking at this.

In the attached logs, I've filtered out DEBUG:pyhap.characteristic:set_value messages which form the bulk of the logs, but added debug messages from handle_set_characteristics() in hap_server.py:

[code]

In terms of the network, .119 is an Apple TV, .104 is a HomePod and .117 is my iPhone.

new-f.txt shows the logs when I added the accessory afresh; I then stopped

[2018-07-18 14:47] ilyamordasov opened #141 "Cannot call CurrentTemperature characteristic properly"
My implementation is here:
`self.char_get = serv_kettle.configure_char('CurrentTemperature', setter_callback=self.get_temperature)

def get_temperature(self, value):
     run_cmd()
     print("Current temperature was called")`

And when I tell Siri 'what's current temperature of Bridge?' the get_temperature() function isn't called (print isn't displayed) and Siri answers smth like 'Current tempera

[2018-07-19 19:02] cdce8p commented on #141
Assign the accessory to the specific room the sensor is in.

[2018-07-29 14:10] ikalchev commented on #140
Sorry for the long delay.

Interesting - either Apple changed HAP recently, or there is a long-standing bug in HAP-python. To elaborate: I see that the specs say that if `PUT /characteristics` completes without errors, the response code should be 204 and the body should be empty. Looking at the logs you gave, this is not the case - we return 207 with non-empty body. I have 4 accessories running 24

[2018-07-29 15:15] ikalchev commented on #140
Actually, this shouldn't be the problem: Accessories can sometimes report 207 per the spec so it should be fine as it is. Let me dig a little more. Let me know if you managed to get the char.

[2018-07-29 22:14] DonQuixoteGM commented on #131
Is the project still ongoing? I can't access the discord channel.

[2018-07-30 16:56] ikalchev commented on #131
I just clicked the link above - it works. Can you try again?

[2018-08-02 10:30] mjoldfield commented on #140
Thanks again for looking at this. I perhaps should say that if I don't restart the accessory, it runs reliably 24x7 for weeks.

I added the log line here:

[code]

Though it doesn't appear to be called in the logs below. When should it be called ?

This is all running on a Raspberry Pi Zero, with the latest Rasbian

[code]

[log.txt](https://github.com/ikalchev/HAP-python/files/2253098/log.txt)

[2018-08-05 13:01] ikalchev commented on #140
I misspoke - what I meant was that I have this running and restarting for a long time now without a problem. But anyway:

I don't see the client subscribing for updates (this is from the previous logs):
```DEBUG:pyhap.hap_server:Request PUT from address '('192.168.1.104', 49265)' for path '/characteristics'.```

Are there any requests after the log you sent in you last reply? If so it seems that t

[2018-08-07 22:06] mjoldfield commented on #140
Thanks again for looking at this.

There was nothing until about 4 days later when it saw this:

Aug  6 13:29:07 zs0 python3[435]: INFO:pyhap.hap_server:Got connection with ('192.168.1.109', 49165).
Aug  6 13:29:07 zs0 python3[435]: DEBUG:pyhap.hap_server:Request POST from address '('192.168.1.109', 49165)' for path '/pair-verify'.
Aug  6 13:29:07 zs0 python3[435]: DEBUG:pyhap.hap_server:Pair veri

[2018-08-14 17:31] tobias-friedrich commented on #53
I‘m very much looking forward for this. Any updates?

[2018-08-18 16:58] bwicks commented on #136
I've been looking at this myself but with ESP8266, were you ever able to get it to work?

[2018-08-20 20:56] undersun81 opened #145 "HAPServer doesn't close sockets and eventually hits OS limit"
After running hap for several days my system hit the limit of listen sockets (128 default on raspbian). Most of them in CLOSE_WAIT, so hap-client sent FIN but hap-server code didn't handle it correctly (it suppose to close socket).
[code]
Briefly looked into hap_server.py, can't see how is this situation handled

[2018-08-20 22:06] rcarmo commented on #64
Hi there. I'm unsure as to the state of this, since I see references to asyncio already throughout the code.

I'm looking for a simple example of how to run the AccessoryDriver inside an event loop so that I can have concurrent handling of other network traffic (I'm trying to turn an SSDP/UPNP service into an on/off switch, essentially).

Is there a simple asyncio example already?

[2018-08-20 23:37] titus-leistner opened #146 "Missing ColorTemperature Characteristic and StatefulProgrammableSwitch service."
As the title states, the ColorTemperature Characteristic that Apple introduced in iOS 10.3 is missing. Also there is no StatefulProgrammableSwitch Service.

[2018-08-21 04:33] ikalchev commented on #146
Here is the color temp:
https://github.com/ikalchev/HAP-python/blob/dev/pyhap/resources/characteristics.json#L185

As for the Switch, I only see a Stateless Programmable switch. Let me look into it and I will get back to you

[2018-08-21 12:49] titus-leistner commented on #146
Oh, sorry I overlooked this line in the characteristics.json. But isn't it missing in the Lightbulb service?

https://github.com/ikalchev/HAP-python/blob/dev/pyhap/resources/services.json#L292

[2018-08-21 19:35] ikalchev commented on #136
I haven't tried this. I know there is a HAP-python server for ESP8266 written in C (google it, I can't seem to find it now). If I remember correctly, pairing took around 2 minutes, because of the specs of ESP8266.

If someone wants to have a shot at this I will be happy to help. But I won't be able to drive this in the near future (as much as I would like to!)

Please keep the discussion going, I

[2018-08-21 19:35] #136 closed

[2018-08-21 19:46] ikalchev commented on #64
I think @cdce8p  can give a more in-depth example from the Home-Assistant community, but here is a quick one (just added the async keyword in the run method, otherwise its just the sensor from the accessories folder):

[code]

Basically, if the `run` method of the `Accessory` is marked `async`, it will not run in a separate thread, but in the event loop. I.e. you can use asyncio in the `run` as it

[2018-08-21 19:47] ikalchev commented on #64
By the way, closing this as the majority of the work in the core is done (Thanks for the fine work @cdce8p)

[2018-08-21 19:47] #64 closed

[2018-08-21 21:14] rcarmo commented on #64
Thanks, in the meantime I figured most of that out for non-async (i.e., threaded) by reading through the source code. I realize that you actually test for the target being a coroutine in add_job, etc. (which feels too magic and un-pythonic, but works), and got a similar example to work:

[code]

But what I do not understand just yet is where I can change the default event loop, or how to initializ

[2018-08-24 09:38] rcarmo opened #147 "RuntimeError in accessory.py in Python 3.5 (Linux)"
Hi there,

I'm trying to deploy HAP-python (git master) on Python 3.5 and coming up against a strange error that seems to be related to coroutine handling.

I've trimmed down my code bit by bit by first removing all the `asyncio` bits until I got a simple bridge set up, with a passive accessory, that still reproduces the problem for me:

[code]

And when running it with `python -u main.py` using u

[2018-08-25 08:39] rcarmo commented on #147
Changing the issue name since I've since reproduced it on 3.5.2 on the Mac as well.

[2018-08-25 09:00] rcarmo commented on #147
Looking into this a bit further, the `_wrapper` used for the decorator seems to be at fault, since there is no guarantee it will use the same event loop as the current `AccessoryDriver` instance.

However, since I am trying to do purely threaded code (since I have to use another library that does hard blocking on sockets to interface with my hardware) I do think that the `asyncio` bits need to be

[2018-08-25 14:38] cdce8p commented on #147
Have you tried it without the `run_at_interval` method?

Regarding `add_job`: It's not that much magic, just selects how and were to run the corresponding methods. Scheduling of corutines and shutting them down safely is the tricky part.

[2018-08-25 18:12] ikalchev commented on #145
Hi and thanks for the report. I will take a look a this in the following days

[2018-08-25 20:03] rcarmo commented on #147
Yes, and it works in that case, but I need a recurring mechanism to update device state. I've improvised with this:

[code]

As to the "magic" in `add_job` and `async_add_job`, reading through the implementation and having it try to figure out what the target is feels odd and unpythonic - having a single kind of `AccessoryDriver` to manage both kinds of concurrency seems prone to trouble since you

[2018-08-26 17:18] EV3REST opened #148 "Reset accessory switch/function"
There should be reset state/device function implemented (in case pin was lost and device deleted from the app)

[2018-08-26 17:20] #148 closed

[2018-08-26 17:21] EV3REST commented on #148
Found this in the docs under `docs/build/html/api/service.html`

[2018-08-26 18:05] rcarmo commented on #147
Well, "the user" in this case is a developer (this is a library, not an end-user app), and I, for one, would prefer to have better control over the threading model and not be surprised by library internals. I've been using `asyncio` since `tulip`, and mixing concurrency models has always been frowned upon...

Also, the problem wasn't just a warning. The scheduling stops, and it stops because `_wra

[2018-08-26 19:05] cdce8p commented on #147
I see. Originally I though it's an error that occurs when stopping HAP-python and their is still one coroutine scheduled. This was a common problem during development.

Without digging much deeper, I could guess that it's an issue that cancellation doesn't work probably. Taking a look at the python changelog supports that: https://bugs.python.org/issue27585 The issue was fixed with `3.5.4`.

Pleas

[2018-09-06 08:53] rvanmarkus commented on #53
Me too... can't wait to integrate my ip camera in my homekit setup.

[2018-09-08 11:31] a-sp commented on #53
Me too! Keep up the good work please!

[2018-09-09 09:48] schinckel opened #149 "Inconsistent documentation/code/warning in deprecated method."
In `accessory.py` there is the following method:

    def config_changed(self):
        """Notify the accessory about configuration changes.

        These include new services or updated characteristic values, e.g.
        the Name of a service changed.

        This method also notifies the driver about the change, so that it can
        publish the changes to the world.

        .. note:: If yo

[2018-09-09 09:49] schinckel commented on #149
FWIW, it appears this came in e92529a583136f7f8e64bac8740ba02d341967b9.

[2018-09-09 12:34] schinckel commented on #135
I've got a fair bit of code sitting on top of HAP-python, and something at some point meant that it was no longer loading the data correctly, showing the same problem as p000. But it's entirely possible that was just a problem with my custom encoder.

(I'm using a bridge too, as it turns out, but not Windows).

[2018-09-09 12:39] schinckel commented on #140
I had an issue tonight (after updating my HAP-python) where HomeKit was not showing any of the bridged devices as being available. It turned out my code was mistakenly adding a second information service (I'd been using my own code to add this, as I wanted to change it before it was created, and I had been on a fairly old version of HAP-python).

HomeKit will just appear to ignore a bridge and/or

[2018-09-09 17:30] ikalchev commented on #53
Thanks all for the support and I am really very sorry this isn't finished yet. I hope to find the time the next 2-3 weeks to finish this.

[2018-09-10 10:03] caius88 opened #152 "mqtt2homekit Accessory"
Hi, this is an amazing project! I'm building my personal smart home ecosystem on top of HomeKit with this implementation. I would like to use a unique standard protocol like MQTT (i.e. python library paho-mqtt) for communication between sensors and my custom HAP-python hub.

As the title states, can u add an accessory that subscribe to a given MQTT topic and update its value at the HomeKit side wh

[2018-09-10 10:46] cdce8p commented on #152
Have you taken a look at the [Temperatur Sensor](https://github.com/ikalchev/HAP-python/blob/dev/accessories/TemperatureSensor.py)?

Another way, quite possibly a bit over the top, might be a smart home system, like [Home Assistant](https://www.home-assistant.io/). It combines MQTT, HomeKit (using `HAP-python`) and many others.

[2018-09-10 13:54] caius88 commented on #152
Hi @cdce8p,
i already have take in account Home Assistant. In fact is a piece of my ecosystem, but i want to keep divided the HomeKit implementation from HA.

I already looked at the Temperature Sensor code but I don't know how to insert the MQTT client's loop in such the way that the callback to HomeKit side is triggered when the sensor publish an update.

[2018-09-10 14:03] cdce8p commented on #152
It depends on how you want to implement it.

`GET`
HomeKit runs its own loop and makes the call to get the current value. This would need to be implemented inside the `run` method and prefixed with `@Accessory.run_at_interval`.

`PUSH`
Or the `Home Assistant` way. Start the service and call `char.set_value` every time you receive an update. Best to take a look at the HA files as an example [link](

[2018-09-12 06:30] ikalchev commented on #152
It depends on what architecture you have in mind, but I would imagine that you need a facade that translates mqtt to HAP-python calls.

One way to go is to subclass the Accessory and override `set\get_value` to proxy the call through mqtt. This is speaking from the top of my head - I am on vacation currently and will try to outline a proof of concept next week

[2018-09-12 09:13] caius88 commented on #152
@cdce8p and @ikalchev thank you for the support!

Since not all MQTT sensors have the ability to be triggered, responding with its own value, i think that the `PUSH approach` is the way to go. Up to now i only have written some HAP sensors that work like the Temperature Sensor (`GET approach`). I didn't understand very well `set\get_value` methods in HAP-python yet, so i'll wait for your PoC :)

[2018-09-18 11:54] LasCabos opened #153 "Perpetual Updating and No Response"
After pulling your latest changes (commit addb6aa) any sensors or bridges added are in a perpetual state of updating and no response as indicated in the HomeKit iOS App. I have tested this on iOS versions 11.0.3, 11.4.1 and 12.0.0 using your main.py using a bridge setup with 2 temperature sensors and a single lightBulb accessory. On occasion a request will be received by the iOS device but revert

[2018-09-20 15:53] carlos-leopoly commented on #135
Same issue here:

Windows platform running in Python virtual environment:

**Home Assistant release with the issue:**
0.76.2
**Last working Home Assistant release (if known):**
**Operating environment (Hass.io/Docker/Windows/etc.)**
Windows
Windows 10 running python 3.6.5
**Component/platform:**
HomeKit, https://www.home-assistant.io/components/homekit/

Let me know if you need any additional data

[2018-09-20 15:55] carlos-leopoly commented on #135
Additional info: Setup goes well and everything is well usable until restarting HA.
First I had 131 devices then I reduced to 57 by filters but same issue appeared

[2018-09-23 10:31] ikalchev commented on #153
Hi and thanks for reporting this.

I got a look at it and it seems that the issue is actually caused by https://github.com/ikalchev/HAP-python/commit/6272c7b2a3e04db93b53b920e27e134ac7a48a87

I will address this today/tomorrow.

[2018-09-23 11:17] #153 closed

[2018-09-23 11:43] ignalex commented on #153
just pulled from your last commit. no changes for me. (RPi 2). hanging in updating state.
from pip's (old) pyhap works ok.
a few reports
DEBUG - Could not send event to ('192.168.1.10', 49376), probably stale socket.
and a few
DEBUG - Connection timeout

[2018-09-23 11:46] ikalchev commented on #153
So if understand correctly, you have
- latest available from pip works
- latest available from the dev branch doesn't

Also which iOS v is this?

[2018-09-23 12:01] ignalex commented on #153
correct.
iOS 12.
I got collected 2 sets of logs from pip's working code and the one from git dev.
hope it will give you some ideas :)

[ignalex.zip](https://github.com/ikalchev/HAP-python/files/2408688/ignalex.zip)

[2018-09-23 12:28] ikalchev commented on #153
Thanks for that. But the logs don't seem to be from latest. There is a missing debug message in the logs. I expected to see this https://github.com/ikalchev/HAP-python/blob/dev/pyhap/hap_server.py#L517

From HAP_server_dev_not_working
[code]

Also, the response to the PUT request above should be `204 No Content`, but we see `207 Multi-Status` in the logs. This was changed in 6272c7b.

Can you re-c

[2018-09-23 12:36] LasCabos commented on #153
I will test and post here but it will have to wait until tomorrow, Sept 24, 2018. My original issue was a result of running on Raspberry Pi 3 B+.

[2018-09-23 13:03] ignalex commented on #153
![image](https://user-images.githubusercontent.com/7232721/45928132-037d5800-bf82-11e8-93ba-fc0583310aa1.png)
hmm . got the blob you sent in the code.
the location of dev is the recent git version
![image](https://user-images.githubusercontent.com/7232721/45928275-522bf180-bf84-11e8-9aa7-0acced6c9cdd.png)
so I am pretty sure I am using the l have latest code in this location (got it pulled after y

[2018-09-23 13:40] ignalex commented on #153
hey Ivan,
my apologies. you are right. was imported  partly from the pip's install.
works well,  no issues. also attaching log with ' Set characteristics content'
[HAP_server.zip](https://github.com/ikalchev/HAP-python/files/2408756/HAP_server.zip)

[2018-09-23 15:05] ikalchev commented on #153
Glad to hear that! And sorry for the delay on this :)

[2018-09-24 00:12] LasCabos commented on #153
Tested with RPI 3 B+,  python 3.5 and iOS 12 using the NeoPixelLightStrip and your fix is working great. Thanks for all your efforts with this project! Its awesome!

[2018-09-24 04:44] ikalchev commented on #153
Thanks! I am very happy to hear that.

[2018-09-24 05:33] ikalchev commented on #53
Thanks. I actually managed to find the time to work on that yesterday. I have an issue that I don’t encode some of the properties properly, but once this is sorted it should work (most of the logic already done). Also, I will also be using ffmpeg.

I will continue this week as well.

[2018-09-24 06:45] nashlib commented on #53
That’s brilliant mate. I’m sure u know that a huge crowd of us enthusiasts would be elated at this implementation

[2018-09-26 17:45] ikalchev commented on #53
Hi all,

Pleased to announce that currently iOS and HAP-python can negotiate a stream session. HAP-python also starts ffmpeg, which does begin to stream. The issue is that at that point the Home app stays at "Loading..." and at some point gives up. I guess that either
1. Some firewall along the way is preventing the stream from reaching my phone
2. The crypto is messed up

Working on it, we are ge

[2018-09-26 17:51] ikalchev commented on #53
Latest progress: https://github.com/ikalchev/HAP-python/pull/98/commits/7612785f10fa7390037f08db1ccb36addca49d8c

[2018-09-26 18:53] OutIaw commented on #53
Wow, just finished installing IP cameras. Such a bonus to see this still in the works thanks so much for your dedication!

[2018-09-27 20:18] ikalchev commented on #53
I found a similar issue for homebridge here https://github.com/KhaosT/homebridge-camera-ffmpeg/issues/206

Is someone willing to sync latest from the camera_base branch and do `python3 cam.py` to see if it reproduces? You will need to install ffmpeg in order to do this (little tricky on RPi, I am testing on a Mac. Which reminds me - I see ffmpeg is kind of deprecated in favour of avconv. The args

[2018-09-28 21:14] ignalex opened #154 "adding different 'sensor' types"
hi guys
is it possible to add other, more generic sensor types (probably handled by services.json and characteristics.json) to have it categorized differently?
for example - I've got methods reading last values of scanned internet speed (stored in db), but there is no 'sensor' which could be used for 'Mb/s' units. Ff embedding it into 'light sensor' or similar - works well but measuring it in lux

[2018-09-29 02:06] ignalex commented on #53
hey Ivan,
tested from the camera_base branch.
negotiation successful from the 2nd attempt.
camera added to the accessories.
when start from iOS (12) hangs on the waiting state. prob same as in your case.
I got the log DEBUG - attaching, maybe will help you to get this puzzle solved faster :)
also there was a message for the unknown format (didn't pass to the log):
![image](https://user-images.gith

[2018-09-29 10:50] ignalex commented on #53
hey bro
### **its alive :)**
![img_4484](https://user-images.githubusercontent.com/7232721/46244791-86415f80-c427-11e8-967b-b7ce90ca2503.jpg)

got a few settings changed, some of them to make ffmpeg work anyhow (still have no avfoundation), but looks like the thing was in you using protocol **rtp** , and changing it to **rtsp** made the thing work. (found some docs here: http://manpages.ubuntu.com

[2018-10-01 09:05] caius88 commented on #152
Hi @ikalchev
any update? :)

[2018-10-02 15:58] ikalchev commented on #152
Sorry @caius88, will definitely outline the PoC later today/tomorrow. I have been a bit busy with the Camera accessory.

[2018-10-02 18:12] fillwe commented on #53
Wow great work guys, really looking forward to this!

[2018-10-03 19:20] ikalchev commented on #152
Here is a starter. See also main.py on how to start your accessories.

[code]

Note that you can also set a `getter_callback` on a Characteristic - something that will be called when iOS (or anyone) wants to read the value of the characteristic. You can use this for e.g. pull.

Let me know if you have more questions or need some help.

[2018-10-03 19:20] #152 closed

[2018-10-03 19:46] ikalchev commented on #147
Sorry I am jumping in so late - I agree that mixing both models can produce surprising effects. And I also think that HAP-python won't be fully async any time soon (as much as I want) - both mDNS and the HTTP server are huge tasks. For one, I have looked at aiohttp for replacing the server, but the custom crypto really raises the bar. An improvement we can do is to have only sync or async accessor

[2018-10-03 19:48] #60 closed

[2018-10-03 19:54] rcarmo commented on #147
Thanks for coming back to me on this. I’ve been avoiding mixing things with the Accessory instances themselves, and have threads that know about the Accessories they need to toggle and then invoke the required methods. It’s not as neat, but seems to work.

I’ll have a look at adopting stop_event, but right now I am doing something else that will also need re-thinking with regards to threading late

[2018-10-03 20:11] ikalchev commented on #147
Well something needs to be tagged `run_at_interval` if you see the _wrapper somewhere in your stack.

The "stock" Accessory `run` method is defined as async, so this definitely get's submitted to the event loop.

[2018-10-04 07:10] ikalchev commented on #154
Hi @ignalex, you can define your own type of Service or Characteristic and add it to your Accessory. The problem is that the Home app will not show a service/char that is not Apple-defined - all services and chars in the resources folder are Apple defined. I don’t know if you can extend that with a separate iOS app.

For the second question - I need to check, occasionally some services could be mi

[2018-10-04 07:11] ikalchev commented on #35
Closing this as it was already discussed. Keep the conversation open if needed.

[2018-10-04 07:11] #35 closed

[2018-10-04 07:45] ignalex commented on #154
StatelessProgrammable does not what you would expect from it. It appears in the iOS but it requires to program other existing services into it. It is kind of creating a ‘bridge’ combining other services: for instance it can combine lamp and fan into one service reacting to some specific triggers.
Regs

Sent from my iPhone

[2018-10-04 09:19] Rabob1 commented on #53
I'm really looking forward to this.... Thanks for all the hard work.

[2018-10-04 12:46] cdce8p opened #156 "New Accessories - Faucet, Valve, Sprinklers, ..."
@ikalchev Can you run the script to see if they are available?
If not, I have found another project that has already implemented them, so I could reverse engineer it from there.

https://github.com/maximkulkin/esp-homekit/commit/f064988e023f705908e815b90b35ecd9abff52cf
https://github.com/maximkulkin/esp-homekit/blob/master/include/homekit/characteristics.h#L585-L601

[2018-10-04 12:50] ikalchev commented on #156
Will do later today, thanks. Will keep posted.

[2018-10-04 14:45] ikalchev commented on #156
By the way, Valve and Faucet are already in HAP-python(sprinklers missing). Any idea if iOS 12 added those?

[2018-10-04 14:55] cdce8p commented on #156
Totally missed that 😅 I always though they haven't been added yet, since they aren't listed in the HAP-Specifications. So I also haven't added them to Home Assistant yet.

I'm not 100% sure, but I think they have been added with 11.4. V12 should include Speakers and Remotes. Maybe you can check for those?

For sprinklers: Maybe they are just another kind of valve???

We should probably also update

[2018-10-04 17:29] ikalchev commented on #156
Speakers are there as well.

I downloaded HomeKit Simulator for Xcode 10 (from September this year) and re-ran the script. No new services or characteristics - only minor changes to which chars are optional/mandatory for which services, missing "units" values, etc. I also added the missing 2 categories as you suggester (based on the HAP-specification from Apple's site). This is already in dev, I w

[2018-10-04 17:29] #156 closed

[2018-10-04 18:01] cdce8p commented on #156
Thanks for updating!

Regarding `Speakers`: The last time I tried to use them, the service was meant for doorbells, but maybe that has changed to. I will check.

Additional categories: They might be unofficial, but I've also found those: [maximkulkin/esp-homekit](https://github.com/maximkulkin/esp-homekit/blob/51203ab6adff189bde03a468e460e9023c62f8c7/include/homekit/types.h#L60-L65). Do we want to

[2018-10-04 18:20] ikalchev commented on #156
Damn I forgot the change log, need to get back to speed with this project. Thanks man!

The link you sent is for Accessory categories (that’s for the mDNS adverts), not services. I thought I had the latest HAP-spec, but I will re-download. Will add these as well. Thanks again

[2018-10-04 18:47] ikalchev commented on #156
BTW I had another look at the project you sent - Here is a comment about the Speaker service:

Defines that the accessory contains a speaker. This is mostly used for video doorbells and cameras and may not work standalone.

[2018-10-04 19:02] cdce8p commented on #156
That was the last info I had as well regarding this topic, until I saw the HomeKit talk from WWDC 2018 and the slides this morning. There it lists `Speakers` and `Remotes` as new accessories. Check discord.

[2018-10-04 19:06] cdce8p commented on #156
Just tested the `Speaker` service. It seems to be that way that it doesn't work on it's own.

[2018-10-05 05:16] ikalchev commented on #53
For everyone eager to test this out - you can pull the camera_base branch and do `python3 cam.py`. I am merging this to dev later today and probably to master after that.

Note that, depending on your device, you may need to plug you own command for starting the stream (e.g. ffmpeg, avconv, etc.)

[2018-10-05 19:10] ikalchev commented on #53
Ok, the camera is now on the `dev` branch. Take a look at `camera_main.py` on how to start the thing. Take a look at `pyhap.camera.FFMPEG_CMD` and the `pyhap.camera.Camera` init args - as ignalex said earlier, you may need to tune the command for your hardware/software (use FFMPEG_CMD to see what arguments are available to you - there are even more if you want to dig into `Camera._start_stream`.

[2018-10-06 10:18] aptonline commented on #53
I’m a little confused how to test this, I’m happy to download a dev branch and I thought it would just be a case of adding the relevant component and settings into the homekit entries within configuration.yanl but I’m guessing that’s not the case. Any chance of a step by step setup? I’ve looked at the camera_main.py and I’m lost.

[2018-10-06 10:28] ignalex commented on #53
Aptinline
look at the camera.py there is ffmpeg starting command line. Make sure it works by itself first

I will test updates later this week when return from overseas

Sent from my iPhone

[2018-10-06 11:08] cdce8p commented on #53
@aptonline I haven't added the camera to Home Assistant yet. Will try to do so next week.

[2018-10-06 17:08] Megachip opened #158 "PERSISTENCE"
As requested in the HA repository on issue [#14330](https://github.com/home-assistant/home-assistant/issues/14330) it would be awesome if HAP also support persistence, which is used e.g. on the eve app.

Thanks a lot.

[2018-10-07 05:49] ikalchev commented on #53
Try

0. Install ffmpeg
1. Open camera_main.py and change the address in the options dict to the address from which your camera will be streaming
2. Start the accessory with `python3 camera_main.py`
3. Pair with the accessory in the Home app
4. The camera should pair successfully and you should see a stock picture
5. Tap on the camera to start streaming
6. See if it works

If not, you should see in

[2018-10-07 17:46] ikalchev commented on #158
Hi,

I would certainly consider this, but I am working on the Camera Accessory right now, so it may take some time. Will keep posted.  Any help is appreciated!

[2018-10-08 16:51] aptonline commented on #53
Sorry @cdce8p I assumed this thread for was homekit integration into HA, I followed the link from a HA community post.

[2018-10-08 20:14] aptonline commented on #53
Newbie here, getting the following error when trying to run `python3 camera_main.py`

[code]

[2018-10-08 20:21] cdce8p commented on #53
@aptonline Can you try `pip install -e .` in the `/HAP-python` directory? That should install all missing dependencies. Assuming you're using the git repo and haven't installed `HAP-python` though pip in the first place.

[2018-10-08 20:21] ignalex commented on #53
you need to go through the full installation process (https://github.com/ikalchev/HAP-python#Installation)
![image](https://user-images.githubusercontent.com/7232721/46631656-cb862f80-cb93-11e8-89ef-e84def11ce69.png)

this also could help
http://www.kalitut.com/2017/11/raspberry-pi-set-up-zeroconf-bonjour.html

[2018-10-08 20:23] hjtech commented on #53
I was able to get the camera show up in the Home app, however, the video does not load. I guess I need to adjust the ffmpeg parameters but have no idea what to use. This is on macOS.

[2018-10-08 20:31] aptonline commented on #53
@ignalex I though I had but now working :)

Camera added but not video stream. I'm guessing its because I couldn't find a way to authenticate to the camera with a username/password.  I only saw the IP in `camera_main.py`, have I missed something?

[2018-10-08 20:35] ikalchev commented on #53
@aptonline The authentication is taken care of for you. Does the ffmpeg process start?

@hjtech I am having the same problem that I cannot start it on a macOS. The issue with me is that the resulting fps is around 5.

The command is very similar to implementation in HAP-nodejs/homebridge - did any of you used it?

[2018-10-08 20:40] ignalex commented on #53
@ikalchev  can't make it work in the current dev branch this time.
tried my ffmpeg config cmd what was working before.
ffmpeg process starts
![image](https://user-images.githubusercontent.com/7232721/46632358-186b0580-cb96-11e8-8e01-9785cad7edd8.png)

but no stream reaching iOS and in 30 secs it disconnects.
[log1.txt](https://github.com/ikalchev/HAP-python/files/2457752/log1.txt)

[2018-10-08 20:43] ikalchev commented on #53
Did you re-apply the fixes for your command? I see that the stream hasn't started

[2018-10-08 20:46] aptonline commented on #53
So it looks like its starting but no output:

[code]

Also seeing `Unknown input format: 'avfoundation'` in red if thats significant?

[2018-10-08 20:48] ignalex commented on #53
all fixes applied - same config as was working before.
stream starts. it is not copied into log after stopping python but its there:
![image](https://user-images.githubusercontent.com/7232721/46632800-8d8b0a80-cb97-11e8-8020-60b68adf942a.png)

[2018-10-08 20:50] ignalex commented on #53
same was the case for me - you probably from raspberry pi = I coulnd't find how to install avfoundation on it
I had to change to another codecs (look above in this issue - there was working replacement of avfoundation with video4linux2) but no good as of right now :)

[2018-10-08 20:50] ikalchev commented on #53
@aptonline Can you copy the ffmpeg command and start it on its own - but change the address to your local address and remove the local port http param. Try to make the command work on its own for your platform, e.g. the avfoundation is for mac OS, try video2linux2 (see ignalex's earlier post where he got it working)

[2018-10-08 20:58] ignalex commented on #53
@ikalchev trying to reduce resolution and bitrate etc with no luck...

can you confirm - i noticed the ffmpeg syntax changed quite significantly from the previous (not only v_port notation) but also a few parameters related to codecs. did you changed it cause it is must or it is a copy from another implementation source?
also localrtcpport is now using v_port but before it was the another local_vi

[2018-10-08 21:02] ikalchev commented on #53
Yes, I made changes to it, but they shouldn't be that many. I am currently going through the old command and trying to find the diffs - so far:
- An extra `-g 300`

Let me go through the pull request for camera_base.

[2018-10-08 21:07] ikalchev commented on #53
I that's the one that worked: https://github.com/ikalchev/HAP-python/pull/98/commits/7612785f10fa7390037f08db1ccb36addca49d8c

I think the only difference is the `pix_fmt`. @ignalex  Can you try with the referenced cmd?

[2018-10-08 21:21] ignalex commented on #53
nope, no change. I also had it out of my working config so it can't affect.

[2018-10-08 21:29] ignalex commented on #53
nope :( got the config ffmpeg (in the issue above :) )
... give me 5, I will try to dig it out from snapshot ...

[2018-10-08 21:38] ikalchev commented on #53
In the meantime, I managed to get the normal 30 fps, but still not streaming. It's almost 1 am here, will catch up tomorrow. We will get over this eventually :)

[2018-10-08 22:37] ignalex commented on #53
ok... I hard reset to the last working commit ( 7612785f10fa7390037f08db1ccb36addca49d8c ) in camera_base. added my fixes for ffmpeg and made it work.
![image](https://user-images.githubusercontent.com/7232721/46637127-769fe480-cba6-11e8-833e-a3a1740b188e.png)
[HAP-python.zip](https://github.com/ikalchev/HAP-python/files/2458206/HAP-python.zip)

attaching zip of all the code. gotta be not too easy

[2018-10-08 22:39] cdce8p commented on #53
@ignalex Can you open a PR with your changes? That's what Hithub is for in the end 😄

[2018-10-08 22:57] ignalex commented on #53
not yet. it is not 'progressive' changes but rather 'regressive'. when we understand what is the cause of non streaming, I will add extra config options for raspi ...

[2018-10-11 19:45] ignalex commented on #53
any updates ?

[2018-10-11 20:04] ikalchev commented on #53
Sorry, didn’t have the time but I will work on this in the morning (which is after 8 hours).

The debug you did should definitely help.

[2018-10-12 06:04] ikalchev commented on #53
@ignalex The ip 5 you see in the working case is sent from iOS, are you sure that's not the address of the iPhone? (i.e. the IP in the srtp URL is sent from iOS as the address to which to stream)

Another question: I see that in the non-working case the picture format is way higher (1280x720) - used to be 640x360. Have you tried lowering these in the camera_main.py?

[2018-10-12 06:29] ikalchev commented on #53
These are the difference between the two commands (I redacted the ports, addresses and crypto):
[code]

Can you try with decreased resolution settings and, if that doesn't work, try removing `-bufsize 132k`

[2018-10-12 06:52] ignalex commented on #53
@ikalchev I had 2 runs in within 5 min. iPhone won't change IP. and 5th on the router has been registered for the TV. [I will double check again]

What is the streaming mechanics? does ffmpeg make the stream to the iPhone IP (requesting device) directly? I was thinking... - the Home Kit requires apple server (home-Pod, apple-TV, MAC(?) ... apple device). if raspi itself will create a stream  - it

[2018-10-12 07:00] ikalchev commented on #53
This is a good point - Unfortunately I can't test remote HAP(or however it is called).

But either way, this address is the destination address for the stream. It could well be that in case you have set up an iPad or Apple TV as a home hub, iOS will pass the address of the hub itself. This is so the hub will act as a gateway to the outside world. In can you don't have a hub, then the communication

[2018-10-12 07:08] ignalex commented on #53
just ran the working camera_base and it now streams to 13 (iPhone wifi) or 10 (which is Home-Pod - if from outside (4G). so it looks really smart - picking local IP when within one, or apple-server's as a gateway if it is from outside.
will hardcode resolution into ffmpeg of dev branch and will come back to you...

[2018-10-12 07:08] ikalchev commented on #53
If you change the settings of the camera you will need to re-add the accessory because iOS will not fetch the new available settings. Or you can call `driver.config_changed` to notify iOS the device capabilities have changed, but iOS will still need some time to fetch these anew.

[2018-10-12 07:09] ignalex commented on #53
always do > delete old accessory.state file and pair again. - even switching branches won't allow to use it from another's

[2018-10-12 07:19] ignalex commented on #53
changed resolution > no luck (it uses 13 IP as from another's branch)
deleted buffer - still no luck. stream is there.
![image](https://user-images.githubusercontent.com/7232721/46853963-4af15880-ce4b-11e8-9e8f-ad522134f70a.png)

[2018-10-12 07:47] ikalchev commented on #53
Similar issue btw: https://github.com/gozoinks/homebridge-camera-ffmpeg-ufv/issues/8

So based on your experiments, the command itself seems OK - something else is messed up. I will rebase and debug. Thanks mate!

[2018-10-12 08:02] ignalex commented on #53
not exactly same - they said the service crashes. in our case it goes well :)

made a few changes / tests  > no results. I ran out of ideas mate  :)

[2018-10-12 08:10] ikalchev commented on #53
In the worst case I will rollback and start from the last working state. Will do that later today.

[2018-10-13 07:35] ikalchev commented on #53
Folks, I won't be able to work on this today, continuing tomorrow.

[2018-10-14 17:58] Wraul opened #160 "mDNS not publishing when running in FreeBSD VNET jail"
So I had a lot of trouble with Home Assistant not showing up in the iOS home app when trying to pair.

I first tried the patched `accessory_driver.py` posted in this issue https://github.com/home-assistant/home-assistant/issues/17181
This did not improve things.
So I decided to do a bit of digging, and after a bit of experimental changes to the patched `accessory_driver.py` I managed to solve my i

[2018-10-14 18:34] ikalchev commented on #53
@ignalex Unfortunately I cannot make it work on my machine even on the commit that is working for you (pairs OK, starts ffmpeg OK, but stays at Loading in the Home app). This makes debugging very tricky for me.

So here is my plan:
- Will rebase to the commit that is working for you
- Apply only minor improvements (mainly the option for the user to give a command)
- You test if it works and if so

[2018-10-14 19:51] ignalex commented on #53
@ikalchev there was one important change even on top of that commit - it was in the history of this issue.
![image](https://user-images.githubusercontent.com/7232721/46921413-93c13100-d046-11e8-90ba-8c28966cd0bf.png)
make sure you change this and test before you rebase.

[2018-10-14 21:01] ikalchev commented on #53
Yes exactly - will do it on camera_base.

BTW the `rtsp` flag is not needed - the spec requires RTP or SRTP. I have tried it though - no luck.

Finally, the working version is at 7612785f10fa7390037f08db1ccb36addca49d8c right?

[2018-10-14 21:10] ignalex commented on #53
Commit version Looks right although can’t check now from my phone - I put it in the comments somewhere up.
Without rtsp is didn’t work on my Pi. Maybe some others paeans interfere with that one

Sent from my iPhone

[2018-10-14 23:52] cdce8p commented on #160
Something seems to be off with `zeroconf` and HomeKit. I've seen so many issue reports but couldn't reproduce them reliably. Just a moment ago when I was testing your suggestion @Wraul it decided not to work on the first pairing attempt. However the second one worked flawlessly, I didn't change anything in between (only a restart). I should mention that in my setup it works without any necessary a

[2018-10-14 23:52] cdce8p commented on #160
@Wraul What exactly has your problem been? At which point did you encounter issues?

[2018-10-15 05:56] Wraul commented on #160
This was during my attempts to setup a new instance of Home Assistant in a FreeBSD 11.2 VNET jail.
The jail is connected to a VLAN but I don't think that has any impact.

No matter what I tried I couldn't get Home Assistant to show up for pairing.
I tried running `dns-sd -B _hap._tcp` on a nearby Mac and it showed that Home Assistant wasn't publishing the `_hap._tcp` mDNS entry.

I was confused th

[2018-10-15 13:18] cdce8p commented on #160
@Wraul can you try and downgrade `zeroconf` to version `0.20.0`? That would be the last version without `ifaddr`.

[2018-10-15 20:13] ikalchev commented on #53
Folks, awesome news - I managed to show the stream on my iPhone (finally!) This will make things much much easier, because I can actually test if I have regressed something.

[2018-10-15 20:47] ignalex commented on #53
Is there a way to update paired accesssory if changing steam config? I have only ssh to home next days, if pairing again I would need to be in the same wifi...

[2018-10-16 03:43] ikalchev commented on #53
You can find the state file of pyhap and change the config_version field to `+=1`

[2018-10-16 18:36] ignalex commented on #53
no luck on my side.
with modified ffmpeg command (to working one) and (on 2nd attempt) reducing resolution - stream starting but iphone with 'loading' status and disconnects in 30 sec.
![image](https://user-images.githubusercontent.com/7232721/47038907-5b4c5f00-d1ce-11e8-90b2-0faf57bd26e0.png)

[2018-10-16 19:15] ikalchev commented on #53
@ignalex The screenshot ffmpeg command has the parameter `-payload_type 99` repeated two times and the message `Executing ...` is shown - both are part of the current version on the `dev` branch.

Check again that you are on the `camera_stable` - I am able to start the stream consistently.

[2018-10-17 08:45] ikalchev commented on #53
Still no idea 😅 I haven’t merged to dev - I merged dev to camera_stable to cherry pick some changes tot he camera I made. I have a few more things to finish and I am merging to dev.

[2018-10-17 16:39] Wraul commented on #160
@cdce8p I'm not 100% sure how I would go about doing that.
HAP-python is installed automatically by home assistant, with what I'm assuming are a fixed version.
I'm sure there is some way to work around that but I'm not that well versed in the Python ecosystem.

[2018-10-18 04:54] ikalchev commented on #53
It depends on when is that :). In the meantime anyone preparing to use that can play with ffmpeg and make it work (ie start a stream locally) on their device.

[2018-10-18 05:15] aptonline commented on #53
Well HA releases are on a 2 week cycle and  0.80.x is out now so... 😉

[2018-10-18 13:00] cdce8p commented on #53
@aptonline It woun't be in 0.81, because the deadline is tomorrow already. Since I'm quite busy at the moment, I believe 0.83 (so about one month) would be the earliest. However, if you want to take the charge on this one, let me know. I would be happy to help.

[2018-10-18 21:01] aptonline commented on #53
@cdce8p I think you are in a better position than me :). I look forward to testing.

[2018-10-18 22:05] cdce8p commented on #160
I don't know the details for your system, but usually `Home Assistant` is run in a python virtual environment. After HA is stopped, that python env needs to be activate in the console. These two commands should do the rest:
[code]

[2018-10-22 06:20] ikalchev commented on #53
Folks, how would you like to give me your opinion on the client hooks for the camera:

Right now you can pass a `start_stream_cmd` which can be a string containing the stream configuration. For example (this is the default cmd):
[code]

The placeholders will be formatted before the command is executed. You can see the `start_stream` method of `Camera` for a list of all the properties that you can

[2018-10-23 19:50] ikalchev commented on #53
Merged to dev again. Will push to master tomorrow probably.

[2018-10-23 20:32] cdce8p commented on #53
@ikalchev Great work :1st_place_medal: I haven't been able to test it yet, but I definitely will in the future. Would you mind taking a quick look at #162 before you release the next version. Would be great to get this in as well, if you think that it should be merged.

Anyway, looking forward to the next release. I have some open issues in Home Assistant that you probably have fixed already.

[2018-10-24 20:17] ikalchev commented on #53
Merged to master.
GitHub release 2.3.0.
Pushed to pip - version 2.3.0

As always, open issues for anything that doesn't behave.

Thanks everyone and sorry for the long delay!

[2018-10-24 20:17] #53 closed

[2018-10-24 21:59] lboue opened #164 "Fake WindowCovering accessory / get the 'PositionState' value"
Hello,

I am trying to implement a fake WindowCovering accessory (shutter) with HAP-python.
I already have tested this with a copy of the busy_home.py file.
You can check my **[shutter.py](https://github.com/lboue/HAP-python/blob/b6413081b045a247878afa59f99e62707a83cbd8/shutter.py) testing file**.

I am getting "**TargetPosition**" value on the debug log. But on the iOS HomeKit app, when I change

[2018-10-24 22:15] cdce8p commented on #164
The way HomeKit handles this is a bit tricky. Maybe two examples help:

### Case 1, Cover closed, want to open
 1. HomeKit will update `TargetPosition` to `100` (start was 0)
 2. The accessory needs to set `CurrentPosition` to `100` (start was 0)
 3. And `PositionState` to `2` (for stopped)

### Case 2, Cover open, want to close
 1. HomeKit will update `TargetPosition` to `0`
 2. The accessory nee

[2018-10-24 22:48] lboue commented on #164
Thanks, It seems to work with that code:

[code]

**When I set open at 0% (closed):**
[code]
**When I set open at 20%:**
[code]

**When I set open at 100% (full open):**

[code]
Can I make a PR to merge this in the main repo.

Regards,
Ludovic

[2018-10-31 21:55] cdce8p opened #167 "Networking issue - CLOSE_WAIT"
It seems there is an issue where the TCP connection isn't closed completely and instead the socket hangs at `CLOSE_WAIT`: https://github.com/home-assistant/home-assistant/issues/16692
The issue is referring to the versions `2.2.2` and `2.3.0` of HAP-python.

Another maybe related issue is, that HAP-python sometimes takes it time to shutdown: https://github.com/home-assistant/home-assistant/issues/

[2018-10-31 22:22] ehendrix23 commented on #167
The CLOSE_WAIT might be OS-dependent. Checking on mine and right now I can see 1 in CLOSE_WAIT, 5 in ESTABLISHED, and 1 in LISTEN. HASS has been up for almost an hour now.

This is on MacOS.

[2018-11-01 07:19] ikalchev commented on #167
This could be python specific as well - I didn't have this problem with python 3.6 and when I bumped up to 3.7 a month back the slow shutdown appeared (mac OS High Sierra)

I have none of the other problems though - I have HAP-python also running on a RPi 3 uninterrupted for over a week now.

I didn't have time to debug this, but it's the next on my list. There is definitely something.

[2018-11-02 14:21] cdce8p opened #169 "Asyncio - SafeChildWatcher"
https://github.com/ikalchev/HAP-python/blob/dev/pyhap/accessory_driver.py#L201-L203

`watcher.attach_loop` only works if the loop is in the main thread which isn't the case for Home Assistant. Thus this breaks it. As far as I understand the documentation for it, it isn't even necessary: https://docs.python.org/3/library/asyncio-policy.html#asyncio.SafeChildWatcher

[2018-11-02 14:30] ikalchev commented on #169
https://docs.python.org/3/library/asyncio-subprocess.html#asyncio-subprocess-threads

So either HAP or HA needs to set this before HAP can start subprocesses outside of the main tread.

What if HAP checks if we are in the main thread during startup and only then set that? Would that work for HA?

[2018-11-05 20:34] ikalchev commented on #169
As discussed in discord, now adding a watcher only in the main thread. Let me know if this does not fit the bill.

[2018-11-05 20:34] #169 closed

[2018-11-06 22:06] ikalchev commented on #145
I confirm that I see the issue as well. However, I don't know how this happens yet - I suspect the handler doesn't `finish` its requests properly, but we will see.

[2018-11-06 22:19] ikalchev commented on #145
More on that: I have 36 threads running. There is one for the server, one for the event thread, 3 for accessories and whatever asyncio has (say 10-15 that actually do something). Each handler spawns another thread and stays alive until the socket is closed.

So probably the handlers are stuck waiting on a closed socket.

[2018-11-07 21:41] ikalchev commented on #145
Narrowing down: It appears that a HAP socket thinks its connected and is blocked on recv (see Frame 12 at the bottom of the snippet)

[code]

[2018-11-09 21:19] ikalchev commented on #145
I think I got it - The HAPSocket inherits and is initialised from a socket to implement the custom HAP crypto. During initialisation something is not copied properly as the socket is both in CLOSE_WAIT and blocked in recv. I don't know the exact issue though.

So instead of subclassing I went another way (a Proxy pattern) and the issue is gone now. I will submit the fix tomorrow.

[2018-11-10 07:12] ikalchev commented on #145
https://github.com/ikalchev/HAP-python/commit/1549717e9cd07bbfb1507ab03c9c0783ec386b9f

[2018-11-10 08:03] ikalchev commented on #64
BTW I plan to include uvloop as an extra so you can do `pip install HAP-python[uvloop]`.

[2018-11-11 18:06] ikalchev commented on #145
Apparently the object created by makefile (SocketIO) uses a member of the socket - `_io_refs`, directly. Since it assigns to it, the call does not go through `__getattr__` and ends up in HAPSocket instead of in the `socket`.

I currently fixed this by defining the same property in HAPSocket and proxying all calls to it, but I will ry to unit test this so we really know we are done here.

[2018-11-11 21:00] ikalchev commented on #145
Added a simple test to check for the issue. Also had the fix running for 1 hour with 2 iOS clients.

[2018-11-11 21:00] #145 closed

[2018-11-12 23:12] cdce8p opened #172 "HAP server error: Dictionary changed size during iteration"
Error reported by @ehendrix23
Observed with `2.4.0`, but as the diff suggested, it hasn't been fixed yet.

[code]

[2018-11-13 05:48] ikalchev commented on #172
This looks like a race between the server close and _close_socket. I think I know how to fix it, but I will try to reproduce first.

@ehendrix23, does this happen every time you stop HAP-python?

[2018-11-13 14:46] ehendrix23 commented on #172
@ikalchev , just checked. Saw it twice and that's it. Both would have been with 2.4.0.

[2018-11-14 11:23] dpylypen opened #173 "Can`t share home in HomeKit app"
When I give access to home with HomeKit app (on iPhone to iPhone for example) with bridge on HAP-python lib bride is not working with new device. How I can share access to bridges for several devices?

[2018-11-15 16:00] cdce8p commented on #173
That isn't a `HAP-python` issue and should therefore be closed!

However you need to select `your Home` (top left corner in the Home App), then `Home Settings` -> `Home` -> `Invite...` for it to work. If that still doesn't work, a web search is probably better and should give you the solution. But to reiterate: This has nothing to do with `HAP-python`.

[2018-11-15 17:33] ikalchev commented on #173
I agree with @cdce8p - other apple accounts that you invited should see your devices, given that they are in the same local network where HAP-python is running.

[2018-11-15 17:33] #173 closed

[2018-11-16 10:17] cdce8p commented on #172
@ikalchev Any update?

[2018-11-16 10:18] ikalchev commented on #172
Can you bump to 2.4.1 in the meantime?

I haven’t managed to test my fix fully yet, I wil most probably do it over the weekend.

[2018-11-16 10:44] cdce8p commented on #172
Yeah, no Problem. Just pushed the update to Home Assistant: https://github.com/home-assistant/home-assistant/pull/18417

@ehendrix23 Have you tested 2.4.1 yet?

[2018-11-16 14:41] ehendrix23 commented on #172
@ikalchev , @cdce8p , I have been running on 2.4.1 since monday morning when cdce8p asked me to. :-)

I just checked back through my log files and I only have the 2 occurrences of this when I was on 2.4.0 happened when stopping HASS).
Since then (just counted) I restarted HASS 41 times (update configurations for other stuff, test some of my new code, ...) and at no time has that error been reporte

[2018-11-16 15:34] cdce8p commented on #172
I guess this issue can be closed then?

[2018-11-17 06:40] ikalchev commented on #172
It should definitely occur less frequently (as before 2.4.0). But the issue could still come up, so a fix is necessary

[2018-11-21 06:12] quadcube opened #174 "Multiple bridge"
I couldn't implement more than one bridge on the HAP-python. Is it possible to implement multiple bridges at the same time?

[2018-11-21 16:15] ikalchev commented on #174
Someday we may add a way to run many AccessoryDriver instances in the same process, but currently it’s not possible I think (because of the event loop, haven’t tried)

[2018-12-01 00:24] Dav0815 opened #175 "Homekit Camera"
Sorry, wrong place

[2018-12-01 01:22] #175 closed, assigned to nobody

[2018-12-03 00:00] jr3us opened #176 "Homekit intermittent problem with 'No response' on IOS devices"
Copied title over here per @cdce8p recommendation:

The issue on home assistant is #15675 has the history for what has happened, but I'll paste my last commentary here.

After uprading to 83.1 this morning, and still using the same platform as described initially, I am also seeing that I have no response more often than I have valid information in the Home app for iOS.

As @dmonagle indicated on h

[2018-12-03 11:12] tatunts commented on #176
Thanks for you comment @jr3us ! I am too having problems with no updates using Home Assistant and Homekit. This problem was not present for the last few months and after the latest update that includes v2.4.1 this very annoying issue started again. I really appreciate if someone could help me. Thanks a lot for the great work done here!

[2018-12-03 18:48] ikalchev commented on #176
Hi all,

@tatunts Are you sure the issue shows up with HAP-python 2.4.1? Can someone run `netstat -an | egrep <port of HAP-python>` when the accessory goes to "No response"?

Best,
Ivan

[2018-12-03 18:49] ikalchev commented on #176
@cdce8p In any case, can you integrate with 2.4.1, 2.4.0 is somewhat broken.

[2018-12-03 18:57] tatunts commented on #176
Hello @ikalchev ! Thanks for you reply, really appreciate you time here.

Yes, this problem started for sure when I have updated my Hassio from 81.6 to 83.x. Sometimes it takes 10, 30 minutes or even a couple of hours after restart Home Assistant and no updates are shown on Home app if states of the devices are changed from another Home App or Home Assistant UI.

Now all devices are not updating,

[2018-12-03 18:59] tatunts commented on #176
Sorry if this problem is only related to the HA integration and has nothing do with your work here, I am really not sure were to go. Thanks.

[2018-12-03 19:01] jr3us commented on #176
@ikalchev , I have done a quick check, with the following results:

iphone getting responses and working as it should.

iphone starts getting no responses with the following

pi@hassbian:~ $ netstat -al | grep -i 192.168.1.37
tcp        0      0 192.168.1.40:51827      192.168.1.37:52853      ESTABLISHED
tcp        0      0 192.168.1.40:51827      192.168.1.37:54089      ESTABLISHED

a few minutes

[2018-12-03 19:06] jr3us commented on #176
Side note: going back to anything prior to 2.4.0 would be bad for home assistant on hassbian for me. The newest version for me fixes the stale socket problem and keeps me from having to reboot every few days.
by the way, thanks for fixing that part!

[2018-12-03 19:14] ikalchev commented on #176
Thank you both for the quick info. From the snippets you show me, I am pretty sure that old sockets stay in ESTABLISHED and are not closed for some reason, because I see two ports opened for the same address. I got the same behaviour on HAP-python 2.4.0, but I thought I fixed that with 2.4.1.

Does anyone knows which python version is that? Also, can you say what type of accessory (e.g. characteri

[2018-12-03 19:18] jr3us commented on #176
hassbian is currently using either 2.7.13 or 3.5.3.  I'm not sure which one homeassistant is using.

[2018-12-03 19:20] jr3us commented on #176
I"m pretty sure homeassistant is using 3.5 as I had to migrate to hassbian stretch since homeassistant was not happy with the version used prior to about a year or so ago.

[2018-12-03 19:20] ikalchev commented on #176
HAP-python doesn't support 2.7, I guess you are right. Okay, I haven't tested with 3.5, let me try it.

[2018-12-03 20:00] jr3us commented on #176
holler if you need any additional assistance!

[2018-12-03 20:46] jr3us commented on #176
I forgot to answer the 2nd have of your question.. All of the devices go to no response. I have light switches, and a NEST thermostat with all of its bag of switches, controls, and sensors.

[2018-12-03 22:20] tatunts commented on #176
Yes, exactly my case. Migrated to version 83. I have 107 devices configured on my setup but still using the same number as the version before, that was working perfectly.

[2018-12-03 22:57] jr3us commented on #176
I am also running version 83.1 and hap-python is version 2.4.1.

[2018-12-03 23:15] tatunts commented on #176
@jr3us , do you think it is possible to rever only the HomeKit component to the version that was compiled on version 81? I know that you use Hassbian, but there is a way to use the folder custom_components and put the python code there to load that component but not sure if there is a HAP-python code outside the HomeKit python code...

[2018-12-04 11:33] tatunts commented on #176
Hello guys! I've just updated to version 83.3 of Home Assistant, I am pretty sure that it will not fix my problem since it needs to bump the version of HAP-python first but here is screen of the connections open when the system is just restarted and fully functional with HomeKit:

![image](https://user-images.githubusercontent.com/25224882/49439238-a84cba80-f7a7-11e8-9fc3-3ffaa723154d.png)

Thanks

[2018-12-04 11:36] ikalchev commented on #176
I am still debugging this, as I needed to setup a python 3.5 env

[2018-12-04 11:41] cdce8p commented on #176
@tatunts Although it was working fine before, can you try reducing the number of accessories to well below 100? That's usually the suggested limit for one bridge.

As for the downgrade: It's possible but I wouldn't recommend doing it since it will probably create issues in the long run. Anyway you would need to put all files from [here](
https://github.com/home-assistant/home-assistant/tree/0.82.1

[2018-12-04 11:46] tatunts commented on #176
Thanks a lot @ikalchev for your time!

Many thanks @cdce8p for this info. I was wondering exacly that: does those files have everything it needs to run HomeKit? Including the HAP-python v2.3 code? That would be awesome and an easy fix for me, since this version works like a charm for me, even with 107 devices.

[2018-12-04 11:56] cdce8p commented on #176
Yeah they should. After you have placed the files there and restarted HA, the old HAP-python version should be installed in the deps folder.

However just to iterate, I don't recommend to do so!

[2018-12-04 22:58] tatunts commented on #176
Hello again! Just a quick update: tried to load HomeKit as custom component (v81.6) and after a an hour or so, same behavior. Also there no duplicate connections from server using the same port like before, very odd. Thanks.

[2018-12-05 07:57] theFeverDog commented on #176
Had the same issues appear in my setup after upgrading Homeassistant to 0.83. Deleted and re-paired the bridge (which took a few tries). Problems reappeared at first but haven‘t reappeared in the past 36h. However I also manually specified the IP adress of the server after I re-paired the bridge, this might have helped with the problem.

[2018-12-07 08:14] ikalchev commented on #176
Folks, it appears that @xbtsw may have tracked down the problem. It doesn't solve the root cause, but it should remove this issue. (see merged pull request)

Can some of you test with dev@latest? @cdce8p can you assist? Let me know if the issue is resolved.

[2018-12-07 11:03] ikalchev commented on #176
Go for it. I can’t give advice on how to use the version from the dev branch though

[2018-12-07 11:50] cdce8p commented on #176
Happy to help.

@tatunts You are using `Hassio` right? That might be a bit more difficult, since I don't know the exact path. However you would want to find the python environment -> lib -> python3.x -> site-packages -> pyhap. Maybe a search for `pyhap` does this?

For Hassbian it should be in `/srv/homeassistant/lib/python3.x/site-packages/pyhap`.

In the `pyhap` folder, you need to replace the `

[2018-12-07 13:31] jr3us commented on #176
worked for a few minutes,  but now no response returns.

netstat now shows no connections as follows:

pi@hassbian:~ $ netstat -an | grep 51827
tcp        0      0 192.168.1.40:51827      0.0.0.0:*               LISTEN

[2018-12-07 13:42] jr3us commented on #176
I am using a year old ipad and an iphone SE with latest iOS in the house and on WiFi.

I did see tcp connections to them in netstat, and after a few minutes the connection went away.

I do see this in the logs:

Dec  7 08:30:19 hassbian hass[19910]: 2018-12-07 08:30:19 DEBUG (Thread-25) [pyhap.hap_server] exception [Errno 9] Bad file descriptor for ('192.168.1.23', 56783) in push_event()
Dec  7 08

[2018-12-07 13:45] jr3us commented on #176
I am very comfortable with adding additional debug/ test stuff in the python code.. If you want me to add anything to hap_server.py I am willing to do that.

[2018-12-07 15:36] tatunts commented on #176
Hello @cdce8p! Thanks for your reply.

I've search all files using the addon configurator as I can see all files outside the config folder and could not find `hap_server.py`.

I can access Hassio over SSH, do you think there is a command that I could manually update HAP-python?

If there is another way to do it, I really appreciate your help.

Thanks again my friend!

[2018-12-07 16:00] gabgabe commented on #176
I can easy access all the files using ubuntu. Can't edit using windows or mac. I can't configure samba so I don't even know if is possible to access that partition. Waiting for your magic fixing this issue!!

[2018-12-07 16:10] cdce8p commented on #176
@tatunts If you have access over SSH, does `SCP` work?

[2018-12-07 16:34] tatunts commented on #176
@cdce8p yes I can, but I can see the same files as using the configurator addon...

This is the `lib` folder:

![image](https://user-images.githubusercontent.com/25224882/49660135-08a05e00-fa2d-11e8-9411-539a304fdee7.png)

I think since Hassio is like docker, file structure and access are very different from Hassbian.

[2018-12-07 16:35] cdce8p commented on #176
Try searching for `pyhap`

[2018-12-07 16:36] tatunts commented on #176
Hey! I think I've found it haha

![image](https://user-images.githubusercontent.com/25224882/49660322-7056a900-fa2d-11e8-9655-bc884a7f10e1.png)

[2018-12-07 16:37] cdce8p commented on #176
Looks about right!

[2018-12-07 16:39] tatunts commented on #176
Should I try it or wait for an update, since @jr3us said it did not work for him?

Also, @gabgabe: here is were the file is located :)

[2018-12-07 16:41] cdce8p commented on #176
It doesn't hurt to try it. Would be interesting to see if you have the same error. Make sure to enable debug logging for all pyhap files if you haven't already.

[2018-12-07 16:53] tatunts commented on #176
Hello @cdce8p! Sorry to bother again: actually I've found these files easily by the SAMBA share created by Hassio, on config folder. You can see the full path to this:

![image](https://user-images.githubusercontent.com/25224882/49661119-62098c80-fa2f-11e8-80ae-93ac55a8dbe0.png)

I see that it is inside Python 3.6, not 3.5 as mentioned before. Do you think that doing it just using SCP by changing

[2018-12-07 16:56] tatunts commented on #176
Anyways, I've made a backup from the current `hap_server.py` file and transferred the new one. Restarting now. I'll let you know if it works. Thanks!

[2018-12-07 17:09] gabgabe commented on #176
Tried new hap_server.py

worked fine for 10 minutes, then I ask for a command, homekit shut down the light then immediately not responding

IP 192.168.10.237 is apple tv 4th gen
other IP are other devices invited to the house (workmate iphone etc...)

` 2018-12-07 17:59:26 DEBUG (Thread-10) [pyhap.hap_server] Request PUT from address '('192.168.10.237', 49179)' for path '/characteristics'. 2018-12

[2018-12-07 17:35] cdce8p commented on #176
I noticed the `Bad file descriptor` exception. Looks like HAP-python tries to send something to already closed sockets. However I don't know if that's also the reason all accessories turn unresponsive. @ikalchev

[2018-12-07 17:37] ikalchev commented on #176
Unfortunately I am traveling now, I will have a look at the issue over the weekend. You all see the issue only on a RPi right?

[2018-12-07 17:42] gabgabe commented on #176
RPi 3 B
Home Assistant 83.3 on Hass.os

Also disabled IPv6 on RPi
Tried various routers remaining on ddwrt
Apple TV on wifi
RPi on ethernet

[2018-12-07 17:44] jr3us commented on #176
Rpi 3b also using hassbian

[2018-12-07 21:21] xbtsw commented on #176
Hi @jr3us, it looks like you run into a similar issue I got before, and it seems not HAP-python's fault.

During my debugging, I found that

* The more apple device I have in the home, the more likely that EBADF (Bad file descriptor) could happen, this observation align with @ikalchev 's hypothesis that this could related to a racing condition.

* I also noticed that my non-hub apple devices will

[2018-12-07 21:59] tatunts commented on #176
Hello everyone! Just a quick update: I've been running the Homekit component on Hassio for 5 hours now, been out of home, used over 4G, returned, check on all three devices and it works PERFECTLY!

Many thanks for all of you involved that took the time and knowledge to help.

Thanks @cdce8p, @ikalchev and @xbtsw for coding and testing!

I believe the state change instability is fixed but will test

[2018-12-07 22:43] jr3us commented on #176
My network

raspberry pi running hassbian/homekit:   192.168.1.40 ( Wired )
Apple TV 4k as an apple homekit hub:     192.168.1.23 (wireless AC)
Apple IPhone SE:                         192.168.1.37 ( Wireless AC)
Apple IPad:                              192.168.1.29 ( Wireless AC)

Note that the ip addresses are all static.

When the devices are in the house and are on the wifi network is when i h

[2018-12-07 23:13] jr3us commented on #176
Additional observation:  when devices become unresponsive, it takes just over 5 minutes for the connection to return. when connection returns, it lasts around 2 minutes before it becomes unresponsive again, showing stale sockets in the log. Rinse, lather, repeat and the cycle begins again.

[2018-12-08 00:49] cdce8p commented on #176
@xbtsw Thanks for the great summary on your issues! I conclud that static IP addresses could help?

After all these different error descriptions, I'am wondering if we happen to talk about the same problem. Or if all of them just manifest the same way,

[2018-12-08 05:33] xbtsw commented on #176
@cdce8p so if one is starting fresh then a static IP could avoid problem. Otherwise need to resort to one of the two methods I mentioned.

Looks like there’s couple of root cause to “No response”, my EBADF patch seems to fixed it for me and @tatunts , I described another possible root cause I was running into, seems like a bug on Apple’s side.

[2018-12-08 15:47] jr3us commented on #176
I am currently upgrading my iphone to 12.1.1. Once complete, I will see how it works then.

[2018-12-08 19:32] jr3us commented on #176
could it be related to the linux kernel? I do an rpi-update fairly frequently, and here is the current version:

pi@hassbian:~ $ uname -a
Linux hassbian 4.14.84-v7+ #1169 SMP Thu Nov 29 16:20:43 GMT 2018 armv7l GNU/Linux

[2018-12-08 19:33] jr3us commented on #176
upgrading my phone to 12.1.1 didnt change the results.

[2018-12-09 08:38] ikalchev commented on #176
Okay so I got to my pi finally (been testing on macOS this week).

* Everything is DHCP.
* RPi 3, Raspbian Linux pi3 4.9.52-v7+ #1038 SMP Fri Sep 29 16:26:52 BST 2017 armv7l GNU/Linux
* python 3.6.5
* HAP-python is latest from dev
* Two iOS clients
* A fake switch accessory (because it's completely client-driver, i.e. the server does not push anything so no way to find out if the client is dead)

[2018-12-09 10:34] jr3us commented on #176
I see your version of python is 3.6. How did you get that on standard raspbian?

I am also going to reimage with the latest hassbian today to see if it changes. I will keep my current image as well.

[2018-12-09 11:53] quadcube opened #178 "Camera accessory snapshot failed in bridge accessory"
Tried to implement the camera accessory with according to the example from camera_main.py, where "get_snapshot" is not defined is thrown whenever there's a snapshot request. Implementing as a single accessory works though.

`Exception happened during processing of request from ('192.168.88.237', 57022)
Traceback (most recent call last):
  File "/usr/lib/python3.5/socketserver.py", line 625, in pro

[2018-12-09 14:08] ikalchev commented on #176
I built&installed it from source

[2018-12-09 14:13] jr3us commented on #176
@ikalchev : you are using a hassbian image with python 3.5 that you have manually compiled/installed v3.6 correct?

also, when you were running it with 3.5, did you see the errors?

with 3.6 are you still seeing the errors?

[2018-12-09 14:48] ikalchev commented on #176
No, I am using a regular raspbian with manual build of python 36. I am yet to test with 3.5.

[2018-12-09 18:18] jr3us commented on #176
Ok, I have started a fresh instance on hassbian with standard 3.5 python and installed the new hap_server.py referenced above.

For about the first hour homekit works ok, but after that the cycling no response starts up.

[2018-12-09 20:03] xbtsw commented on #176
I am running a standard Raspbian lite and just installed python3 from apt. It is 3.5.3.

[2018-12-09 20:09] jr3us commented on #176
@xbtsw : Verifying, are you seeing the problem with no response on lite with 3.5.3? That is the same version as i referenced.

[2018-12-09 20:15] xbtsw commented on #176
I was seeing it because of two problems, the EBADF and home app keep
connecting to old IP.

After I overcame these two, I am running fine now for couple of weeks.

It seems you have a different problem though. You can try sniffing with
Wireshark and see what your devices are doing.

On Sun, Dec 9, 2018 at 12:09 PM jr3us <notifications@github.com> wrote:

[2018-12-09 21:33] jr3us commented on #176
I updated to python 3.6 about an hour ago on my fresh test instance. I then powered off and powered back on. So far it is running ok. we'll see how it does.

Incidentally, even though my devices are all on dhcp except for the hass server, none of the devices has changed ip address. I'm not convinced yet this is similar to what you mentioned regarding changing ip address.

Thanks,

[2018-12-09 21:47] jr3us commented on #176
@cdce8p , @ikalchev , @xbtsw : It has been a about an hour and a half since I upgraded to 3.6.7, and accessories stopped responding. They are now cycling as I have indicated earlier.

Not sure what to do with this now.

[2018-12-10 06:00] ikalchev commented on #176
Are there any errors in the logs? Do you mind pasting those?

[2018-12-10 14:49] jr3us commented on #176
I have grabbed information since midnight my time today and have pasted it into github at:

https://raw.githubusercontent.com/jr3us/logs/master/hap.log

The following information will let you know what the ip addresses in my network are for apple devices:

raspberry pi running hassbian/homekit: 192.168.1.40 ( Wired )
Apple TV 4k as an apple homekit hub: 192.168.1.23 (wireless AC)
Apple IPhone SE:

[2018-12-12 19:42] theFeverDog commented on #176
I reverted back to Homeassistant 0.81.6 and the "No response" errors do not appear any more. I also applied the EBADF fix on 0.83.3, but the errors returned after 1 hour.

In Homeassistant 0.81.6 the pyhap version is 2.2.2. In 0.83.3 it is 2.4.1.

[2018-12-13 09:38] ikalchev commented on #176
So we narrowed down the change that causes this (it’s in HAPSocket), but I don’t know why yet.

[2018-12-13 12:33] jr3us commented on #176
@ikalchev , thanks for the update!

[2018-12-13 17:44] theFeverDog commented on #176
Great to hear!

[2018-12-18 15:30] bluepixel00 commented on #176
Glad I stumbled onto this thread.  I am not having the "no response" issue on the home app but any automation that uses a HomeKit device from home assistant will stop working after a random time when using any HA version newer than 0.81.6.  When I go back to 0.81.6 the automations are stable.

Can my issue be related to this issue? Thanks!

[2018-12-19 22:51] warcanoid commented on #176
@bluepixel same problem

[2018-12-20 21:52] badstraw360 commented on #176
Do you guys know the path to replace the file in docker? I'm using a pi..

[2018-12-20 21:56] scottyphillips commented on #176
Im trying to figure that out myself; also using Pi running hassio

[2018-12-20 21:59] jr3us commented on #176
according to @warcanoid just above you, here is the information:

@BLUEPIXEL same problem, do this:
thanks to @ikalchev, on hassio, you just copy this file: [https://raw.githubusercontent.com/ikalchev/HAP-python/bd7638bfb51dd5e9b31dfa311ad383d319fa99b5/pyhap/hap_server.py] in /config/deps/lib/python3.6/site-packages/pysimplesoap/hap_server.py, restart and works well on 0.84.3 and now on 0.84.5

[2018-12-20 22:00] jr3us commented on #176
@ikalchev , any additional information I can provide to help you with this?

[2018-12-20 22:01] scottyphillips commented on #176
Thats great, and thanks so much for pointing that out, except that site-package is not there in my instance...

[2018-12-20 22:05] jr3us commented on #176
I use hassbian so I am not knowledgeable directly regarding hassio/hassos setup. You may have to adapt, and explore the directory structure a bit to find where it is exactly. the find command would also be helpful to locate it if you can get ssh access.

[2018-12-20 22:07] scottyphillips commented on #176
Will do. Hopefully something pops up.
First time caller here, but will make the general comment that Home Assistant seems to be completely all over the shop with Hassbian vs standalone docker containers vs Hassio

[2018-12-20 23:32] scottyphillips commented on #176
I ended up using the custom deps tool to deploy HAP-python, which in turn correctly deployed 'pyhap' into the 'deps' folder. From there you can put the dev version of 'hap_server' into /config/deps/lib/python3.6/site-packages/pyhap/

[2018-12-20 23:56] WhiteDogBe commented on #176
@scottyphillips I'm trying the same thing, but only getting a few files in /config/deps/lib/python3.6/site-packages/pyhap/. No hap_server.py also.

What did you put as the config in the custom deps addon? The documentation of that add-on is dead so I took a guess and used:

`{
  "pypi": [
    "pyhap"
  ],
  "apk": []
}`

[2018-12-20 23:58] scottyphillips commented on #176
Hey mate, try this:

{
  "pypi": [
      “hap_python==2.4.1"
  ],
  "apk": []
}

From: WhiteDogBe <notifications@github.com>
Reply-To: ikalchev/HAP-python <reply@reply.github.com>
Date: Friday, 21 December 2018 at 10:56 am
To: ikalchev/HAP-python <HAP-python@noreply.github.com>
Cc: Scott Phillips <scotty.phillips@hotmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [ikalchev/HAP-python]

[2018-12-21 00:06] WhiteDogBe commented on #176
@scottyphillips awesome, that worked 🥇
Did you also replace the hap_server.py with the one mentioned above or is that one already in the 2.4.1 ? I'm assuming also replace the file.

[2018-12-21 00:08] scottyphillips commented on #176
Yes, the Deps manager will deploy 2.4.1 'main', and what you are doing is replacing the 'hap_server.py' file with the one out of 'dev' 2.4.1 (as per above)

[2018-12-21 00:13] WhiteDogBe commented on #176
@scottyphillips I was already using static IP's for most all my Apple devices. For me the issue only occurs after a number of hours, maybe because of this. Will report back in 24 hours.

[2018-12-21 00:14] scottyphillips commented on #176
Yeah, exactly the same, runs perfectly for anywhere between 5-10 hours, then just completely falls over.

[2018-12-21 06:19] ikalchev commented on #176
Hi all,

It’s great to see that you did so much debugging. I was busy these days and will try to catch up around the holidays.

After the 4-5 hour period, can someone see the amount of sockets opened by HAP? Also if the address of the host where HAP runs has changed address. Finally some debug logs from the run may be helpful.

And to clarify- the current dev version mitigates the issue or it reso

[2018-12-21 09:04] WhiteDogBe commented on #176
@ikalchev notifications are still working for me at this time. What's a good command to get the sockets? Here is my output from netstat -an:

[code]

[2018-12-21 09:11] warcanoid commented on #176
I have only this folder: /config/deps/lib/python3.6/site-packages/pysimplesoap, but it is working, how to get/install/update on hassio pyhap folder?

[2018-12-21 09:36] WhiteDogBe commented on #176
@warcanoid I followed the method @scottyphillips used:
1. In Hass.io > Add-on store > Install "Custom deps deployment" (do not set to auto-start!)
2. Set the config in "Custom deps deployment" to the below and Start the plugin once:

[code]
3. you should now have /config/deps/lib/python3.6/site-packages/pyhap/ where you can repalce hap_server.py. Then restart Hass.io, should work.

[2018-12-21 12:06] warcanoid commented on #176
Can not do this, it is red and wont save

[2018-12-21 13:01] warcanoid commented on #176
Wont save: http://imgur.com/AaAQTmw

[2018-12-21 13:44] jr3us commented on #176
@ikalchev , I am still having the no response problem an hour or 2 after the initial reboot.

I am using version 2.4.1  and also note that I did update to python 3.6 using the instructions posted to update python.
2.4.1 did *MAYBE* increase the amount of time that it worked after initial update, however as mentioned the no response / responding cycle didn't change. As far as I can tell python 3.6

[2018-12-21 16:02] warcanoid commented on #53
It is someone playing with this on Hassio? Have installed hap_python to 2.4.1 and configured camera.py and camera_main.py with my ip camera address and port and no camera!?

[2018-12-21 16:04] warcanoid commented on #176
@WhiteDogBe thank you, have it now, the folder is there and the file is changed. After 3 hours everything ok, waiting to tomorrow

[2018-12-21 21:14] scottyphillips commented on #176
No issues for me after over 12 hours now. All my devices have static IPs now too which may be helping

[2018-12-21 23:37] jr3us commented on #176
I did an update to .84.6 today and updated hassbian as well. I also set the iPhone, iPad, and Apple TV 4K to fixed dhcp addresses.
Since I did the above , there have been no no response problems for 5 hours. I will report back tomorrow regarding results then.

@ikalchev , @cdce8p  :  if things are still good tomorrow, I am going to go back to standard dhcp with no fixed addresses for the iPad iPho

[2018-12-22 15:44] jr3us commented on #176
@ikalchev , @cdce8p :  I have allowed it to run overnight with static ips configured for the apple tv, iphone, and ipad and it has been working fine for 20hours.

I am converting the atv, iphone, and ipad back to non static ips, and will watch it.

I did reboot the hassbian server for a clean start.

Regards!

[2018-12-23 13:31] jr3us commented on #176
22 hours later, and there have been no issues when using dynamic ips using DHCP.  I think this issue is fixed now ( or fixed itself !).

Thanks to @ikalchev , @cdce8p , and @xbtsw!

[2018-12-23 13:32] jr3us commented on #176
When this has migrated to production, This issue can be closed from my perspective.

Regards!

[2018-12-24 12:06] nicx commented on #176
I have recognized the same problem some versions of HA ago... great to read that there is a fix on the way to production. Thanks a lot to all of you 😊

[2018-12-26 06:59] shred86 commented on #176
I’m not having the No Response issue but HomeKit automations from Home Assistant HomeKit devices will stop working after a period of time, which sounds like it might be related to this. I’m assuming we’ll need a 2.4.2 version released, and an update on the Home Assistant side before we see this fix? Any idea how long this might be? Just wondering if I should wait for the release or go ahead and ap

[2018-12-26 12:04] bluepixel00 commented on #176
This is exactly the same issue I had but it was solved with installing the unreleased version of hap_server.py as detailed above.  I am 3 days running without any issues.

Installation depends on your setup but all details are above in this thread.

[2018-12-26 16:35] ikalchev commented on #176
I am glad to hear that the fix is working. I will try to release the fixes tomorrow under v2.4.1.

[2018-12-26 16:41] ikalchev commented on #53
I haven't tried hassio yet and unfortunately I don't know how the integration is going. But if you get any linux distro and just do `python3 camera_main.py` it will at least fail in some meaningful way. Setting the exact ffmpeg command could be tricky, as it depends on what is your hardware and software.

[2018-12-26 18:03] shred86 commented on #176
Just installed the updated hap_server.py so I'll see if it fixes my issues. However, now if I have my iOS Home app open and the state changes on a light or sensor (i.e. light is turned on or motion sensor detects something), the Home app doesn't update in real time. It use to do this before, but now I have to close and re-open the Home app to see the accurate state. Not sure if this is related to

[2018-12-26 20:37] jr3us commented on #176
by the way, still working fine with no problems for over 3 days!

[2018-12-27 01:47] shred86 commented on #176
Well, the good news for me is my automations appear to be working as expected after about 10 hours. Usually by now they've stopped working. However, I'm still having an issue where occasionally I'll turn on a light switch (physical button press), Home Assistant sees it but HomeKit does not. I was hoping they were all related, but likely another issue. ;)

[2018-12-27 08:39] stich86 commented on #176
this haven't solved my issue. My HA Homekit still goes on "No Response" after 5 minutes of restart :(
any hints?

[2018-12-27 10:21] dmonagle commented on #176
Mine also still  goes to no response  this on Hassio.  It’s on my To Do list for this holidays to set up my entire system from scratch. I’ll be interested to see if that makes any difference

[2018-12-27 12:13] stich86 commented on #176
i'm using the hap_server.py on the latest commit and then restarted HA

[2018-12-27 12:33] bluepixel00 commented on #176
I am not sure if this was the last commit but I used this https://raw.githubusercontent.com/ikalchev/HAP-python/bd7638bfb51dd5e9b31dfa311ad383d319fa99b5/pyhap/hap_server.py

[2018-12-27 12:34] bluepixel00 commented on #176
Run a diff between this and what you installed to see if there are any differences.

[2018-12-27 13:30] stich86 commented on #176
it's the same.. i've removed now the bridge and homekit state file, so tonight i will repair it again with my phone an check if it's stable or not

[2018-12-28 01:34] xbtsw commented on #176
@dmonagle Could you provide debug level log from hass when devices turns into no response?

[2018-12-28 01:36] shred86 commented on #176
Not sure if this is all related to the same issue but I made a post on the Home Assistant github about HomeKit not receiving the correct device states when Home Assistant is. I believe it’s actually an issue with HAP-python but I posted the logs in the post I made:

https://github.com/home-assistant/home-assistant/issues/19604

[2018-12-28 09:51] stich86 commented on #176
this is my  home-assistant logs. Now with the modified version i see a lot of "stale errors".

10.0.1.61 is my iPhone
10.0.1.83 is ATV4 (used as home hub for remote access)

[home-assistant.zip](https://github.com/ikalchev/HAP-python/files/2714546/home-assistant.zip)

[2018-12-29 19:34] shred86 commented on #176
Looking through @stich86 logs, I'm seeing some similar errors in mine but it appears the difference is in my case, it appears when it gets the "probably stale socket", the next entries show pyhap.accessory_driver successfully executing the "Sending event to client" to the same IP address but with a different socket that is successful. In @stich86 case, it just keeps trying to send to that same soc

[2018-12-29 21:22] scottyphillips opened #179 "Problems running multiple HA HomeKit instances"
Good morning devs!

Since my poor RPi 1 model B was getting crushed, I moved most of my Home Assistant to a seperate platform (old core 2 duo running Ubuntu and HASSIO). I kept parts of HA on the RPi for GPIO sensors etc. That means I am now running two HomeKit bridges at the same time. The only issue is that one one of the bridges ever seems to want to work at the same time. I have tried giving t

[2018-12-29 21:38] scottyphillips commented on #179
it might be related to some sort of bonjour/mDNS issue because for one HomeKit bridge instance only my iPhone is connecting, the Apple TV and my computer seem to refuse to connect.

[2018-12-30 07:20] scottyphillips commented on #176
Unfortunately there are still issues that seem to be related to bad file descriptors. This is some of my debug output:
[code]

[2018-12-30 07:33] shred86 commented on #77
Could this possibly be an explanation to an issue I’m having with Home Assistant and HomeKit?

https://github.com/home-assistant/home-assistant/issues/19604

I noticed in the logs when I’m having the issue mentioned in that post, `set_value` is not executed.

[2019-01-02 08:05] warcanoid commented on #53
/config/deps/lib/python3.6/site-packages/pyhap/camera_main.py
/config/deps/lib/python3.6/site-packages/pyhap/camera_main.py: line 7: $'An example of how to setup and start an Accessory.\n\nThis is:\n1. Create the Accessory object you want.\n2. Add it to an AccessoryDriver, which will advertise it on the local network,\n    setup a server to answer client queries, etc.\n': command not found
/config

[2019-01-02 19:21] ikalchev commented on #176
I think the problem with the “Bad file descriptor” comes from the fact when a request is handled (i.e. the connection is closed), the server does not purge the socket from its list of active connections. So the send event tries to talk on a closed socket fd.

But the fix that got in a few days back should remediate this, because it catches the exception and purges the socket.

I will submit a fix

[2019-01-02 20:58] scottyphillips commented on #176
Thanks Ivan, you guys have coded an awesome library, I am happy to help test any which way I can.

[2019-01-03 18:55] ikalchev commented on #176
I just pushed some changes. It would be really helpful if someone can fetch latest from dev and give it a try.

Best,
Ivan

[2019-01-03 18:55] #172 closed

[2019-01-03 19:47] tatunts commented on #176
Testing it right now, will get back to you in a couple of days. Thanks!

[2019-01-03 19:52] jr3us commented on #176
@ikalchev: Is test_hap_server.py required for validating the changes? or just the hap_server.py

thanks!

[2019-01-03 20:01] ikalchev commented on #176
Just `hap_server.py`

[2019-01-03 20:05] jr3us commented on #176
thanks!  I now have the new version in as well and will let you know how it is doing tomorrow!

[2019-01-03 20:36] warcanoid commented on #176
@ikalchev components are updating/refreshing very very fast in home app. That had been slow before, and needed somethimes long time

[2019-01-03 20:39] ikalchev commented on #176
To be honest, I am not sure if this is because of the changes I made, but I am glad to hear that nevertheless :)

[2019-01-04 00:40] scottyphillips commented on #176
Still seeing an issue with 'stale sockets' even with running the latest dev version of hap_server.py from dev.
[code]

[2019-01-04 06:51] ikalchev commented on #176
Having stale sockets is expected, because iOS doesn’t always close connections. What worries me is that you are seeing this for the same address-port pair even though it should be removed as soon as a stale socket happens. Will investigate

[2019-01-04 06:57] ikalchev commented on #176
@scottyphillips stale sockets aside, are you having any issues with HAP-python, I.e. what is the issue at hand now?

[2019-01-04 09:52] scottyphillips commented on #176
Hi Ivan,

Overall the service seems more reliable then a few weeks ago, it’s certainly not dropping every couple of hours. It can stay up and running for almost a day at a time, but then something odd happens and it just falls over. Restarting the docker container always fixes it.

Next time it falls over I will send you my entire debug log.

Regards, Scott

Sent from my iPhone

On 4 Jan 2019, at

[2019-01-04 09:56] ikalchev commented on #176
Yes, that will be helpful. Because seeing stale sockets is normal as I have already said and now that the crashing is fixed, this should not be the source of your problem. Next time the service fails send me the logs.

Thanks!

[2019-01-04 18:16] stich86 commented on #176
Nothing to do for me. I’ve installed HA on docker and put latest version of hap_server.py. Started from scratch on my iPhone (removed and added again back the bridge), but after few seconds all accessories go back to “No response”. Homebridge running on the same Docker host is very stable :( May be is my Ubiquiti Network the problem? I don’t think so because as I’ve said homebridge works with any

[2019-01-04 18:57] ikalchev commented on #176
@stich86 can we see some logs from the time it goes to "No response"?

[2019-01-04 19:05] stich86 commented on #176
I’ll try to upload them tomorrow. Now I’m doing a stupid test. I’ve shutdown the ATV4 and now seems that alla accessories are responding. I will wait few hours to see if it’s stable or not and the power on again the ATV4 let you know

[2019-01-04 19:34] ikalchev commented on #176
FYI, just released 2.4.2 - it contains fixes for at least two of the issues. I am keeping this open until we verify that this issue is resolved for good (we can open a separate bug if the issue is different). @cdce8p I would strongly recommend bumping pyhap in HA should you have the time.

[2019-01-04 19:50] ikalchev commented on #179
I regularly run two instances of HAP in the same network, so it's definitely possible. When you say:

Do you mean that your phone pairs with the accessory and after that the TV/comp do not see the device?

[2019-01-04 19:55] cdce8p commented on #176
I already opened the PR: https://github.com/home-assistant/home-assistant/pull/19776
For everybody using Home Assistant: The update should be included with `0.85.0b1`.

@ikalchev Thanks for your continued work on this issue! I would do more if I could, but sadly I don't have a lot of experience with networking stuff :confused:

[2019-01-04 19:57] ikalchev commented on #176
Thanks, but I wish I had more time to spare on this project.

Yeah networking is a beach.

[2019-01-04 20:48] SimplyGardner commented on #53
I am not sure I get it? Is this actually working and implemented into the latest release?

[2019-01-04 22:17] stich86 commented on #176
here is my log
the problem is ATV4. If i turn it off, my iPhone Home App works without problem, when turn it on i start to put all accessories to "No Response". I've altro tried to disable into "Account\iCloud\Homekit" option and for few seconds iPhone Home Apps works again :(

my iPhone has IP 10.0.1.61 while ATV4 is 10.0.1.83

Hope you can help me..

[home-assistant.zip](https://github.com/ikalc

[2019-01-04 22:30] scottyphillips commented on #179
Yes, so my iPhone managed to connect to both HAP instances for a brief period of time, but then neither my computer, not my ATV were able to connect to either. I will try to recreate the setup today and send you some logs + screenshots. Thanks so much for spending time looking after this module. This HAP module is hands down my favourite part of Home Assistant.

[2019-01-05 07:20] ikalchev commented on #179
Are the ATV and mac part of the same apple account? Once someone pairs with an accessory, the other devices of that someone get info about the accessory (keys, etc) through apple. So if your devices are from a different account you won’t be able to see them unless you share them

[2019-01-05 10:08] stich86 commented on #176
But the problem in my case is that both ATV and iPhone for some minutes work at the same time, then stop

[2019-01-05 11:12] Dav0815 commented on #53
This works great on my Raspberry PI with a Playstation Eye camera attached via USB. @SimplyGardner , it runs currently as its own accessory (you need to add it in Homekit) and is not yet implemented through HA.

For anyone in a similar environment, here are my steps to get this up and running:

1. Create a folder to install it (in my case /var/lib/hap-python)
2. Create a virtual Python environment

[2019-01-05 12:06] SimplyGardner commented on #53
Thank you sir.

I use Home Assistant - am I right in thinking this is not integrated with this yet? If not, anything I can do to intergrate?

[2019-01-05 19:35] Dav0815 commented on #53
You are right, it is not yet integrated with Home Assistant. The example above runs it as a separate process on my Raspberry.

[2019-01-05 20:34] Dav0815 commented on #53
Nope, I am not the developer for that part.

[2019-01-05 20:35] SimplyGardner commented on #53
Rekon I could just copy + paste the required code and add it manually into the Home Assistant file?

[2019-01-05 20:37] Dav0815 commented on #53
Home Assistant does not have the drivers yet. So, unless you know how to use the code above you will have to wait for the integration.

[2019-01-05 20:41] SimplyGardner commented on #53
Will keep an eye on this tread and wait patiently 👍

[2019-01-05 21:51] warcanoid commented on #53
thank you!!!!!! will try on hassio if it will work

[2019-01-06 09:40] matyklugDebbuged opened #181 "Control real homekit accesories"
As the name says.

[2019-01-06 15:51] jr3us commented on #176
3 days later, and the modifications are working fine for me.

Thanks @ikalchev !

[2019-01-06 16:10] warcanoid commented on #53
@Dav0815 I have problems, i have a wifi camera not attached like yours, but i get many errors:
core-ssh:~# /config/deps/lib/python3.6/site-packages/pyhap/camera_main.py
/config/deps/lib/python3.6/site-packages/pyhap/camera_main.py: line 11: Implementation of a HAP Camera
Modifications for current system:
FILE_SNAPSHOT   = '/tmp/snapshot.jpg'
FILE_PERSISTENT = '/config/deps/lib/python3.6/site-packa

[2019-01-06 19:42] tatunts commented on #176
Hello @ikalchev! Thank you very much for your work here. Been using the new version for a few days now and it works perfectly, all devices updates much faster and no disconnects/unavailable messages for me now. Have a great day!

[2019-01-06 20:11] bluepixel00 commented on #176
@ikalchev  Everything has been running great for me as well with 2.4.2.  Thanks for all your hard with resolving this!

[2019-01-06 23:00] Dav0815 commented on #53
Hi @warcanoid , looks like general Python errors. Make sure that any test program like hello world works in that environment and then go from there.

I also recommend that you first test the ffmpeg command on its own and then adapt the parameters in the camera_main.py accordingly.

My solution works for me, but it took me some time to debug and learn more about Python. Definitely nothing you just

[2019-01-07 08:05] warcanoid commented on #53
@Dav0815 Thanks for helping. I think I have problem with input or dev video?!

"""Implementation of a HAP Camera
Modifications for current system:
FILE_SNAPSHOT   = '/tmp/snapshot.jpg'
FILE_PERSISTENT = '/config/python_scripts/accessory.state'
DEV_VIDEO       = 'rtsp://192.168.1.3:554/h264_hd.sdp' ### **_**tried also with username and password and http stream**_**
SCALE	    	= '640x480'
IP_ADDRESS

[2019-01-07 14:46] gschindel commented on #176
Does anyone know how to apply this patch for hassio? The path provided above isn't valid in hassio.

[2019-01-07 15:00] bluepixel00 commented on #176
Add the core custom dependency from the add-on page and add the following config to the options page of the add-on

{
  "pypi": [
    "hap_python==2.4.2"
  ],
  "apk": []
}

I had a problem where it kept pulling 2.4.1 after rebooting so I just pulled the hap_server.py from 2.4.2 and overwrote what it kept pulling back 2.4.1.  I think there is a way to tell it it is ok to use another version but ju

[2019-01-07 18:50] bluepixel00 commented on #176
Making sure you are truly using 2.4.2.  As I said, I set it to 2.4.2  but it kept changing to 2.4.1 as I think that is the version that the last version of home assistant required.

After you reboot did you verify the name of the folder for the custom dependency?  Mine was showing 2.4.1 so I manually pulled over hap_server.py from 2.4.2 over 2.4.1.

I am looking to see how you can change the requi

[2019-01-07 19:44] tatunts commented on #176
Hello @bluepixel00, thanks for your reply. This is what my folders looks like:

![image](https://user-images.githubusercontent.com/25224882/50789570-c83e3500-12a3-11e9-90f5-88dbe1d2769d.png)

Not sure how to check if `hap_server.py` is the latest version...

Thanks.

[2019-01-07 21:06] bluepixel00 commented on #176
Is that after a full reboot of home assistant?  The best way is to perform a diff on hap_server with what you have vs what is in 2.4.2.  You could assume that you do not have the latest and replace hap_server in that folder with what you see in 2.4.2 from git.

There are much smarter people on here so they may have a better way.  I could not find out how to change the requirement With custom depen

[2019-01-07 21:21] warcanoid commented on #176
you have updated hap, now overwrite-copy the the new hap_server.py and reboot on more time

[2019-01-08 05:59] warcanoid commented on #176
@tatunts @ikalchev I have the same problem as tatunts, homekit stopped at night after half day, when i updated hap-python and hap-server

[2019-01-08 06:17] warcanoid commented on #176
@tatunts @ikalchev have updated to 2.4.2 hap_python and hap server yesterday, at night homekit stopped. Have restarted now to see what will happen

[2019-01-08 09:05] tatunts commented on #176
Hello @bluepixel00. Yes, I believe there is a problem using the custom dependency method. After applying the fix by copying the modified file manually everything is now working correctly again. I will not mess with it again and wait for vertion 85 of HA that includes the update. Thanks!

[2019-01-08 12:42] gschindel commented on #176
It's still unclear to me where to copy the fix to when running hassio. The package path mentioned above (/srv/homeassistant/lib/python3.x/site-packages/pyhap) does not exist in hassio,

[2019-01-08 14:58] bluepixel00 commented on #176
At this point just wait for HA 0.85 to come out tomorrow which is supposed to include it by default.

If you can't wait as was noted above: To get hassio to use something other than the built in packages you need to install the core custom dependency package under add ons in hassio.  For the config of the package set the following and run it once to have it download everything you need. Do not set

[2019-01-08 20:30] ikalchev commented on #181
By real, do you mean existing products like e.g. Philips Hue?

[2019-01-09 10:05] stich86 commented on #179
any update? I think to have same issue.. now for me HomeKit and HA is useless :(

[2019-01-10 14:35] HerveB commented on #176
Hi Ivan,

I still have the issue... I went through the same steps as others in the forum, including upgrading to 2.4.2 and then realizing that it was over-written with 2.4.1 when Hass.io at reboot. Any suggestion?

On a side note, I have a working Homeseer + Homebridge installation that has been rock solid when it comes to Homekit integration. I would like to migrate to HA but the Homekit issue ha

[2019-01-10 14:38] tatunts commented on #176
Hello! Have you updated your HA to v85? It has the latest version of pyhap...

[2019-01-10 14:43] HerveB commented on #176
No, I am still on Hass.io 0.8.4. I though it is the latest version.

[2019-01-10 14:46] HerveB commented on #176
Alright... 0.8.5 upgrade literally appeared between me checking versions and my response to you.... :-)
Let me check if 0.8.5 fix my problem... Do I have to got through the hap_python overwrite with 0.8.5 or is it taken care of by the upgrade?

Thanks for you fast response!

[2019-01-10 17:56] gschindel commented on #176
No issues here since updating to 0.85.0.

[2019-01-10 22:14] HerveB commented on #176
I checked it throughout the day after upgrading. The problem persists. I am going to do a separate fresh installation and test again.

[2019-01-10 22:30] scottyphillips commented on #176
I’ve just upgraded this morning and turned off the custom component. Less then a hour later it has stopped working. I won’t be able to determine what has happened until after I get back from work.

[2019-01-10 22:35] bluepixel00 commented on #176
@scottyphilips make sure you remove the custom dep files as well to make sure it is not trying to pull from there..

[2019-01-10 22:39] HerveB commented on #176
I did: I renamed the /deps/lib folder to /deps/lib-old

[2019-01-11 15:01] HerveB commented on #176
I no longer have a HAP_python-2.4.2 distribution folder in /deps. I assumed  the upgrade to 0.85 took care of upgrading HAP_python bundle with hass.io.
Should I go through the manual update of HAP_python to 2.4.2?

[2019-01-13 00:00] speedfire514 commented on #176
I also experienced that issue. I waited until 0.85 to check it out. I tried 0.85.1 (which is badly tagged as -dev0 btw). I deleted my accessories in homekit app on ios. I managed to reimport them all being online but a couple of minute later and "no response" again. I successfully poked HAP from a telnet session on the correct homekit port. I'm starting to wondering if the bug is not in the ios ap

[2019-01-13 04:09] HerveB commented on #176
Quick update. I did a brand new installation of 0.85 with only HomeKit and z-wave configured with a z-wave outlet. I have the same issue.
I can use Homekit to turn on/off the z-wave outlet 2-5 times before the status of the device becomes "no response"".
I can use Hass.io GUI to turn on/off the z-wave device even when it is showed as "no response" in Homekit.
I don't have issue with my production

[2019-01-13 07:38] ikalchev commented on #176
@HerveB, @speedfire514, can you upload logs from around the time the issue happened?

[2019-01-13 14:42] speedfire514 commented on #176
@ikalchev sure ! Actually I planned to took at hap_python today to track the bug. With all my test yesterday I found a pattern in the log. I will post them here later today
@HerveB if you use home assistant like me, what I did was, turning debug log on for HomeKit in configuration.xml.
logger:
  default: warning
  logs:
    homeassistant.components.homekit: debug

Then the hap-python log will be o

[2019-01-13 19:19] HerveB commented on #176
Alright, I did two runs with the same configuration. First run, it took half-a-dozen of times turning on/off my test outlet for the device status to become "no response". The second time took many more on/off actions to get to "no response".

Note that in this configuration, I have 2 z-wave devices exposed as switches in Homekit: my test outlet (HomeSeer outlet), an Aeotec ZW078 Heavy Duty Smart S

[2019-01-13 19:33] theFeverDog commented on #176
While experimenting with 0.84 and previous versions in December, I noticed that while the „non response“ was more frequent in 0.84, it also crept over time back when reverting to an older version.

I finally tracked the root cause for the disconnects to my Netgear switch, which apparently had an incorrect implementation of IGMP snooping according to several support forums. After disabling IGMP sno

[2019-01-13 20:01] HerveB commented on #176
I happen to be using a Netgear Prosafe switch. I followed your recommendation and disabled IGMP snooping. I will re-run the test.

Thanks @theFeverDog !

[2019-01-13 20:32] speedfire514 commented on #176
I did no change to my router. I deactivated wlan and route all traffic thru Ethernet. So far so good, no problem... Can you all confirm you experience the issue on Wifi ?

[2019-01-13 20:35] stich86 commented on #176
Yes.. my ATV and of course iPhone are on WLAN.

[2019-01-13 20:42] jr3us commented on #176
Since you have brought up netgear switches, That peaked my memory a bit. I had to switch from a 4 year old Netgear N750 wireless router to an Apple airport extreme about the time mine started working. I had to switch because the netgear was having problems with stability and wouldn't remember its settings when using it with a fiber internet connection.

Short story is .. the netgear router may hav

[2019-01-13 20:49] HerveB commented on #176
I am still testing with IGMP snooping disabled in my Netgear switch. So far, so good: it seems the problem went away. I will continue testing.

However, I had to reboot the Hass.io Raspberry Pi a couple of times until HomeKit started working properly. Not sure why. I have attached the logs.

[run-3-home-assistant.log](https://github.com/ikalchev/HAP-python/files/2753514/run-3-home-assistant.log)

[2019-01-13 21:51] scottyphillips commented on #176
Very Interesting, my router is a Netgear as well, I might take the same action and disable the IGMP snooping as well.

Regards,

Scott Phillips

Sent from my iPhone

On 14 Jan 2019, at 7:49 am, Hervé <notifications@github.com<mailto:notifications@github.com>> wrote:

I am still testing with IGMP snooping disabled in my Netgear switch. So far, so good: it seems the problem went away. I will continu

[2019-01-14 15:24] HerveB commented on #176
Reporting back: HomeKit has been working without a glitch since yesterday after I applied the switch configuration changes recommended by @theFeverDog.

Thanks all for your help!

[2019-01-14 15:39] speedfire514 commented on #176
I've got no problem either. For the record, I don't have a netgear router, neither have ICMP snooping activated. The only change was using ethernet instead of Wifi on my home assistant server (rasp Pi3 B+).

On the other side, even if that solves the problem, having stale file handles (for my case) looks like some badly used resources while working in degradated mode. I feel we can do better handl

[2019-01-14 16:07] stich86 commented on #176
disabled every IGMP feature on my UniFi network a no joy... :(

[2019-01-14 16:39] HerveB commented on #176
@speedfire514, I add a similar issue when I used wifi instead of ethernet. It seems the wifi interface goes to sleep. You can turn off power management to avoid the issue by adding the following lines to the network configuration file:

[wifi]
powersave=0

For more details:
https://github.com/home-assistant/hassos/blob/dev/Documentation/network.md

[2019-01-14 17:50] theFeverDog commented on #176
Glad that a few other people seem to be able to resolve their issues.

Here's a [link](https://community.netgear.com/t5/Smart-Plus-Click-Switches/Bonjour-Service-Discovery-Problems/td-p/1380173) to one of the forum posts on MDNS/Bonjour issues. I have a JGS516PE ProSafe switch.

[2019-01-15 08:47] stich86 commented on #176
it's obviously a problem of this library and some network equipement. As I've said Homebridge and also HomeKit native accessories works without issue

[2019-01-15 09:10] scottyphillips commented on #176
I’m not sure if that comment is helpful. The devs are doing as best a job as they can on software that doesn’t cost a penny for folk like us to run. Ivan and cdece8p are working as hard as they can to resolve the issues in their spare time. More constructive support would be useful not ‘obvious’ criticism… Why don’t you learn python and debug the library yourself?

From: stich86 <notifications@git

[2019-01-15 09:14] stich86 commented on #176
sorry I did not want to be offensive.
i'll try to debug myself.. how to put more verbose logging on the library?

[2019-01-15 09:17] ikalchev commented on #176
Hey no harm done, but thanks for the support.

What I meant with my earlier comment was that the mDNS library that HAP-python uses (zeroconf) could have issues leading to the accessory being in no response state.

To enable more logging just set the global logging level to DEBUG (don;t know if there is a cli/config way to do this in HA).

[2019-01-15 09:20] scottyphillips commented on #176
I will say that the 2.4.2 fix overall has absolutely improved reliability, but agree there is something else is causing strange issues. Mine will work 1-3 days with zero problems then just sort of cease operating - "no response" - like everyone else, but no obvious signs in the logs other then the expected 'stale' socket timeouts, so the zeroconf issue I reckon is worth investigating for sure...

[2019-01-15 11:23] stich86 commented on #176
checking the logs i got this behaviour:

if you see the last two lines of each attempt, about 1 minute after the connection to hap_server is cleaned an my accessories on the Home App goes to "No Response". Currently i'm doing all tests using remote access, so this IP is the Apple TV now.

Checking the code, i see this function is called at line 857 of hap_server.py

[2019-01-15 12:04] stich86 commented on #176
another attemp:

i've removed all accessories from homekit instance and leave only a single switch (to avoid a conflict with some accessories):

[code]

The cleaning connection seems sent by the ATV:

[code]

it looks like the ATV send a POST request to HA (waiting for some data) and then it close the connnection

[2019-01-15 14:31] stich86 commented on #176
ok i think that i've found the problem (but not the cause).. When HK working, the mDNS entry is correctly sent by HA in this way:

![screenshot_1](https://user-images.githubusercontent.com/27808541/51186654-65b7eb00-18da-11e9-8b58-d779a8bb855c.jpg)

After few seconds it send an advertise with PTR and no IP inside

![screenshot_2](https://user-images.githubusercontent.com/27808541/51186677-736d7080

[2019-01-15 14:41] stich86 commented on #176
and this also confirmed looking at avahi cache:

+ ovs_eth0 IPv4 Home Assistant Bridge                         _hap._tcp            local
+ ovs_eth0-2 IPv4 Home Assistant Bridge                         _hap._tcp            local
- ovs_eth0-2 IPv4 Home Assistant Bridge                         _hap._tcp            local
- ovs_eth0 IPv4 Home Assistant Bridge                         _hap._tcp

[2019-01-15 21:12] dmonagle commented on #176
The one thing that has always stood out to me in this thread was that many people were have some success, often for hours before the dreaded "No response". I've always struggled to have it go for two or three minutes.

After seeing the posts regarding IGMP snooping on the Netgear Switch, I figured I'd take a look at mine. It's a Netgear ProSAFE JGS524PE.

Sure enough, IGMP is on be default and, am

[2019-01-16 17:21] ikalchev commented on #176
The logs from @stich86 could be really helpful. Will have a look as soon as I can.

[2019-01-16 17:24] ikalchev commented on #179
Sorry for the delay. Will look at this as well as soon as I find some time.

[2019-01-18 11:35] Jc2k commented on #181
FWIW, there is a HAP client over at https://github.com/jlusiardi/homekit_python/, which is about to get support for BLE HAP devices, and thats what HA currently uses for 5+ entity types.

[2019-01-29 21:46] stich86 commented on #176
Did you have a change to look at my logs? Thanks!

[2019-02-02 08:57] ikalchev commented on #176
Not yet, but I managed to get my hands on a setup with a HomeKit hub through an iPad to try to reproduce this. So far nothing, but I will continue to debug this.

[2019-02-04 19:44] stich86 commented on #176
@ikalchev

How can i set zeroconf debug inside the logger of accerssory.py? I’ve opened an issue on the zeroconf library and Jakub ask me some logs putting library in debug

Thanks

[2019-02-05 10:42] schinckel commented on #152
FWIW, I have an MQTT<->HomeKit bridge that uses this package: https://schinckel.net/2018/05/26/mqtt-homekit-bridge/

[2019-02-05 11:29] schinckel opened #182 "Can't use HAP-python[QRCode] in install_requires in setup.py"
More specifically, you may use it, but it is ignored (and only HAP-python is installed).

I'm hoping there is a syntax to fix it, but in case anyone else has the same issue...

[2019-02-05 11:32] schinckel commented on #182
Hmm:

    Ignoring pyqrcode: markers 'extra == "QRCode"' don't match your environment
    Ignoring base36: markers 'extra == "QRCode"' don't match your environment

I guess that has something to do with it. That syntax should work in `install_requires`.

[2019-02-05 11:43] schinckel commented on #182
Hmm. I'm seeing the same issue when attempting to:

    pip install HAP-python[QRCode]

Happening on at least two different machines.